/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
h4 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.container {
  h5 {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
  }

  p {
    margin-bottom: 0 !important;
    font-weight: 300;
  }
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;
  margin-top: 70px;

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--mpc-color-tertiary);
      text-transform: uppercase;
      font-family: var(--mpc-font-default);
    }

    p {
      margin: 0;
      font-size: clamp(2rem, 2vw, 2rem);
      font-weight: 400;
      font-family: var(--mpc-font-default);

      span {
        color: var(--mpc-color-secondary);
      }
    }
  }

}

/*--------------------------------------------------------------
# inscricao Section
--------------------------------------------------------------*/
.inscricao {
  font-family: var(--mpc-font-default);
  font-weight: 600;
  padding: 2rem;
  margin-top: 90px;

  #barra-progresso {
    --mpc-color-bar: var(--mpc-color-secondary);
    --mpc-color-text: var(--mpc-color-tertiary);
  }

  .btn-inscrever {
    background-color: var(--mpc-color-primary);
    color: white;

    &:disabled {
      background-color: #5C636A;
      color: white;
      cursor: default !important;
    }
  }

  .btn-voltar {
    background-color: transparent !important;
    color: var(--mpc-color-tertiary) !important;
  }
}

#modal-sucesso {
  /* Cores */
  --mpc-color-bg-modal: white;
  --mpc-color-title-modal: var(--color-primary);
  --mpc-color-description-modal: var(--color-tertiary);

  /* Botões */
  --mpc-color-first-button-bg-modal: var(--color-primary);
  --mpc-color-first-button-text-modal: white;

  --mpc-color-second-button-bg-modal: white;
  --mpc-color-second-button-text-modal: var(--color-primary);

  /* Fontes */
  --mpc-font-title-modal: var(--font-subtitle);
  --mpc-font-description-modal: var(--font-default);
  --mpc-font-button-modal: var(--font-default);
}