/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
h4 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.container {
  h5 {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
  }

  p {
    margin-bottom: 0 !important;
    font-weight: 300;
  }
}

/*--------------------------------------------------------------
# inscricao Section
--------------------------------------------------------------*/
.inscricao {
  font-family: var(--mpc-font-default);
  font-weight: 600;
  padding: 2rem;
  margin-top: 90px;

  #barra-progresso {
    --mpc-color-bar: var(--mpc-color-secondary);
    --mpc-color-text: var(--mpc-color-tertiary);
  }

  #btn-inscrever {
    --mpc-bg-color-btn: var(--color-primary);
    --mpc-text-color-btn: white;
    --mpc-bg-color-btn-hover: var(--color-secondary);
  }

  #btn-voltar {
    --mpc-bg-color-btn: transparent;
    --mpc-text-color-btn: var(--color-tertiary);
  }
}

#modal-sucesso {
  /* Cores */
  --mpc-color-bg-modal: white;
  --mpc-color-title-modal: var(--color-primary);
  --mpc-color-description-modal: var(--color-tertiary);

  /* Botões */
  --mpc-color-first-button-bg-modal: var(--color-primary);
  --mpc-color-first-button-text-modal: white;

  --mpc-color-second-button-bg-modal: white;
  --mpc-color-second-button-text-modal: var(--color-primary);

  /* Fontes */
  --mpc-font-title-modal: var(--font-subtitle);
  --mpc-font-description-modal: var(--font-default);
  --mpc-font-button-modal: var(--font-default);
}