<mpc-page-header titulo="Page" subtitulo="Header" imagem="/assets/img/home/mountain.jpg" id="header-exemplo"
  [tabIndex]="0" ariaLabel="Seção principal de destaque">
</mpc-page-header>

<main>
  <!-- ======= MpcPageHeader INÍCIO ======= -->
  <section id="page-header">
    <div class="container">
      <div class="section-header">
        <h2>experimente o</h2>
        <p>MPC <span>Page Header</span></p>
      </div>
      <h5>
        <strong>Descrição:</strong> O <code>mpc-page-header</code> é um componente de cabeçalho de página, ideal para destacar o título e subtítulo de cada tela.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do cabeçalho.</li>
          <li><strong>subtitulo</strong>: (opcional) O subtítulo do cabeçalho.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcPageHeaderComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-page-header titulo="Título da Página" subtitulo="Subtítulo opcional"&gt;&lt;/mpc-page-header&gt;</code></pre>
      </div>
      <h5>Veja o topo da página, onde está o <code>mpc-page-header</code> e teste o componente.</h5>
    </div>
  </section>
  <!-- ======= MpcPageHeader FIM ======= -->
</main>

