<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<section id="inscricao" class="inscricao">

  <div class="section-header">
    <h2>preencha seus dados abaixo no</h2>
    <p>Formulário de <span> Inscrição </span> </p>
  </div>

  <div class="container">

    <mpc-form-progress-bar [etapaAtual]="3" [totalEtapas]="3"></mpc-form-progress-bar>

    <h3>Pagamento</h3>
    <p class="text-muted mb-3">Campos obrigatórios (*)</p>

    <form [formGroup]="form">

      <!-- Alertas -->
      @if (form.value.formaPagamento === "Cartão") {
      <div class="alert alert-warning text-center mt-1">
        <i class="bi bi-exclamation-circle float-left"></i>
        Para pagamento via cartão, há um acréscimo ao valor referente a taxa da maquininha.
      </div>
      }
      <!-- Alertas -->

      <div class="row mb-3">
        <mpc-input-text label="Valor" [readonly]="true" [value]="formatarValor(form.value.valor)" />
      </div>

      <div class="row">
        <mpc-input-select label="Forma de Pagamento" [required]="true"
          (error)="form.controls.formaPagamento.setErrors($event)" (valor)="atualizarFormaPagamento($event)"
          [options]="formasPagamento" />
      </div>

    </form>

    <div class="row mt-5">
      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="proximaEtapa()" [corFundo]="'#149DDD'" [corTexto]="'white'" icone="bi bi-send" posicaoIcone="direita"
          texto="Finalizar" [disabled]="form.invalid">
        </mpc-button>
      </div>

      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="etapaAnterior()" [corFundo]="'#149DDD'" [corTexto]="'white'" icone="bi bi-arrow-left" texto="Voltar"
          posicaoIcone="esquerda">
        </mpc-button>
      </div>
    </div>

  </div>

</section>

<mpc-modal #modalErro></mpc-modal>

<mpc-footer></mpc-footer>
