<mpc-navbar></mpc-navbar>

<section id="inscricao" class="inscricao">

  <div class="section-header">
    <h2>preencha seus dados abaixo no</h2>
    <p>Formulário de <span> Inscrição </span> </p>
  </div>

  <div class="container">

    <mpc-form-progress-bar [etapa]="3"></mpc-form-progress-bar>

    <h3>Pagamento</h3>
    <p class="text-muted mb-3">Campos obrigatórios (*)</p>

    <form [formGroup]="form">

      <div class="row">
        <mpc-input-select label="Forma de Pagamento" [required]="true" (valorCampo)="setValorCampo($event, 'formaPagamento')" [options]="formasPagamento" />
      </div>

    </form>

    <div class="row mt-5">

      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="etapaAnterior()" corBotao="btn-outline-secondary" icone="bi bi-arrow-left" texto="Voltar">
        </mpc-button>
      </div>

      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="proximaEtapa()" corBotao="btn-success" icone="bi bi-send" posicaoIcone="direita"
          texto="Finalizar" [disabled]="form.invalid">
        </mpc-button>
      </div>
    </div>

  </div>

</section>

<mpc-modal #modalErro></mpc-modal>
