main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;
  margin-top: 90px;

  .section-components {
    .col-lg-6 {
      justify-items: center;
    }

    h5 {
      font-weight: 400;
      color: var(--cor-terciaria);
      font-size: 18px;
    }

    li {
      list-style: none;
      margin-bottom: 10px;
    }

    a:hover {
      color: var(--cor-primaria) !important;
    }
  }

  h5 {
    font-weight: 400;
    color: var(--cor-terciaria);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--cor-terciaria);
      text-transform: uppercase;
      font-family: var(--font-padrao);
    }

    p {
      margin: 0;
      font-size: clamp(2rem, 2vw, 2rem);
      font-weight: 400;
      font-family: var(--fonte-padrao);

      span {
        color: var(--cor-secundaria);
      }
    }
  }

}

/*--------------------------------------------------------------
# inscricao Section
--------------------------------------------------------------*/
.inscricao {
  font-family: var(--font-padrao);
  font-weight: 600;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.div-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
