<div [tabindex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group" *ngIf="options.length > 0">
  <label class="form-label">{{ required ? label + ' *' : label }}</label>

  <div class="input-group">
    <select (change)="setValue($event.target)" class="form-select form-select-md"
       [style]="errorMessage ? 'border-color: red' : ''" (focus)="campoTocado = true; isCampoValido()">
      <option *ngFor="let option of options" [selected]="option.selected">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div *ngIf="errorMessage">
    <p class="text-danger mt-1"> {{ errorMessage }} </p>
  </div>
</div>
