<!-- Layout Vertical -->
@if (isVertical()) {
<div class="card-vertical" [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel">
  <div class="card-header">
    <div class="card-img">
      <img [src]="getImagemCard()">

      @if (links.length > 0) {
      <div class="links">
        @for (link of links; track $index) {
        <a tabindex="0" [attr.aria-label]="'Link para ' + link.url" [href]="link.url" target="_blank">
          <i [class]="link.icone"></i>
        </a>
        }
      </div>
      }
    </div>
  </div>
  <div class="card-body">
    <div class="card-info">
      @if (titulo) { <h3 tabindex="0" [attr.aria-label]="titulo">{{ titulo }}</h3> }
      @if (subtitulo) { <h4 tabindex="0" [attr.aria-label]="subtitulo">{{ subtitulo }}</h4> }
      @if (descricaoUm) { <p class="mb-0" tabindex="0" [attr.aria-label]="descricaoUm">{{ descricaoUm }}</p> }
      @if (descricaoDois) { <p class="mb-0" tabindex="0" [attr.aria-label]="descricaoDois">{{ descricaoDois }}</p> }
    </div>
  </div>
</div>
}

<!-- Layout Horizontal -->
@if (isHorizontal()) {
<div class="card-horizontal" [id]="id" [tabindex]="tabIndex" [attr.aria-label]="ariaLabel">

  <div class="col-lg-5">
    <img [src]="getImagemCard()">
  </div>

  <div class="col-lg-7">

    <div class="card-body">
      <h2>{{ titulo }}</h2>
      <div class="barra-titulo"></div>
      <h5>{{ subtitulo }}</h5>
      <h5>
        {{ descricaoUm }}
      </h5>
      <h5>
        {{ descricaoDois }}
      </h5>
    </div>


    <div class="card-footer">
      @if (links.length > 0) {
      <div class="links">
        @for (link of links; track $index) {
        <a tabindex="0" [attr.aria-label]="'Link para ' + link.url" [href]="link.url" target="_blank">
          <i [class]="link.icone"></i>
        </a>
        }
      </div>
      }
    </div>

  </div>
</div>
}
