<div [tabindex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group" *ngIf="options.length > 0">
  <label class="form-label">{{ required ? label + ' *' : label }}</label>

  <div class="input-group">
    <label class="p-3" *ngFor="let option of options">
      <input (focus)="campoTocado = true; isCampoValido()" type="radio" (change)="setValue(option)" [checked]="option.checked" (blur)="onTouched()"
        [required]="required" /> {{ option.label }}
    </label>
  </div>

  <div *ngIf="errorMessage">
    <p class="text-danger mt-1"> {{ errorMessage }} </p>
  </div>
</div>
