/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/

h5 {
  font-weight: 400;
  color: var(--mpc-color-tertiary);
  text-align: center;
  padding-bottom: 2rem;
  font-style: italic;
}

pre {
  background-color: var(--mpc-color-primary);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  code {
    width: 100%;
    white-space: pre-line;
  }
}