<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">{{ min ? label + ' *' : label }}</label>

  <textarea class="form-control" [value]="value" (input)="setValue($event)" [disabled]="disabled" [readOnly]="readonly"
    [id]="id" (focus)="onFocus()" [attr.maxLength]="max ? max : null"
    [style.border-color]="errorMessage ? 'red' : null"></textarea>

  <div class="qtd-caracteres">
    Caracteres: {{ qtdCaracteres }}
    <span [style.visibility]="max ? 'visible' : 'hidden'">/{{ max }}</span>
  </div>

  <p class="text-danger mt-1" [style.visibility]="errorMessage ? 'visible' : 'hidden'"> {{ errorMessage }} </p>
</div>