/*--------------------------------------------------------------
# Page Divider Img Section
--------------------------------------------------------------*/
.page-divider-img {
  /* Cores */
  --mpc-color-title-page-divider-img: white;
  --mpc-color-subtitle-page-divider-img: var(--color-secondary);

  /* Fontes */
  --mpc-font-title-page-divider-img: var(--font-title);
  --mpc-font-subtitle-page-divider-img: var(--font-title);

  /* Tamanho Fonte */
  --mpc-font-size-title-page-divider-img: 2rem;
  --mpc-font-size-subtitle-page-divider-img: 2rem;

  /* Background-Position */
  --mpc-bg-position-page-divider-img: center;
}

/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
h5 {
  font-weight: 400;
  color: var(--mpc-color-tertiary);
  text-align: center;
  padding-bottom: 2rem;
  font-style: italic;
}

ul {
  text-align: left;
}

pre {
  background-color: var(--mpc-color-primary);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  code {
    width: 100%;
    white-space: pre-line;
  }
}