<mpc-navbar></mpc-navbar>

<!-- ======= Capa Section ======= -->
<section id="capa" class="capa d-flex align-items-center bg-image">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center text-center">
        <h2> <span>Componentes</span> </h2>
      </div>
    </div>
  </div>
</section>
<!-- ======= End Capa Section ======= -->

<main id="main">

  <!-- ======= MpcButton ======= -->
  <section id="buttons" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC<span> Buttons </span> </p>
      </div>

      <h5>
        Os botões do MyComponents são baseados no framework Bootstrap, que oferece uma ampla gama de estilos e
        funcionalidades para botões.
        Abaixo, você pode ver como utilizar o componente <code>mpc-button</code> e seus parâmetros.
      </h5>

      <h5>
        Os parâmetros que você pode passar para o componente <code>mpc-button</code> incluem:
        <ul class="text-start mt-3">
          <li><strong>id</strong>: (opcional) Um identificador único para o botão.</li>
          <li><strong>texto</strong>: O texto que será exibido no botão.</li>
          <li><strong>corBotao</strong>: A classe de cor do botão, que pode ser qualquer uma das classes de botão do
            Bootstrap.</li>
          <li><strong>tabIndex</strong>: O índice de tabulação para acessibilidade.</li>
          <li><strong>disabled</strong>: (opcional) Um booleano que indica se o botão deve estar desabilitado.</li>
          <li><strong>posicaoIcone</strong>: (opcional) Define a posição do ícone em relação ao texto, podendo ser
            <code>esquerda</code> ou <code>direita</code>. Padrão: <code>esquerda</code>.
          </li>
          <li><strong>icone</strong>: O ícone a ser exibido no botão, utilizando classes do Bootstrap Icons ou a que
            preferir.</li>
        </ul>
      </h5>

      <h5>
        Para mais informações sobre como utilizar botões no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/buttons/" target="_blank">documentação oficial do Bootstrap
          sobre botões</a>.
      </h5>

      <div class="row">

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code class="language-html" data-lang="html">
                &lt;mpc-button [disabled]="false" (click)="" [corBotao]="'btn-info'"
                [icone]="'bi bi-code-slash'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Exemplo de Botão'&gt;
              &lt;/mpc-button&gt;
              </code>
          </pre>
        </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <mpc-button [disabled]="false" (click)="alert('Exemplo de Botão')" [corBotao]="'btn-info'"
            [icone]="'bi bi-code-slash'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Exemplo de Botão'">
          </mpc-button>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= MpcButton ======= -->

  <!-- ======= MpcLoader ======= -->
  <section id="loader" class="section-components bg-color-primary text-color-white">
    <div class="container">

      <div class="section-header">
        <h2 class="text-color-white">experimente o</h2>
        <p>MPC <span>Loader</span></p>
      </div>

      <h5 class="text-color-white">
        O <code>mpc-loader</code> é um componente que exibe uma animação de carregamento enquanto o conteúdo da página
        está sendo
        carregado a cada requisição HTTP. Pode ser colocado em qualquer lugar da sua página, mas
        caso deseje utilizar para todas as páginas do projeto, incluá-o no arquivo <code>app.component.html</code>.
      </h5>

      <h5 class="text-color-white">
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma bg-color-white text-color-primary">
              <code class="language-html" data-lang="html">
              &lt;mpc-loader&gt;&lt;/mpc-loader&gt;
              </code>
          </pre>
        </div>
      </h5>

      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <mpc-button [disabled]="false" (click)="abrirLoading()" [corBotao]="'btn-info'"
          [icone]="'bi bi-arrow-clockwise'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Abrir Loader'">
        </mpc-button>
      </div>

    </div>

  </section>
  <!-- ======= MpcLoader ======= -->

  <!-- ======= MpcCard ======= -->
  <section id="cards" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC <span>Cards</span></p>
      </div>

      <h5>
        O <code>mpc-card</code> é um componente que permite criar cards personalizados. Os cards são utilizados para
        exibir informações de forma organizada e atraente, com uma imagem, título, subtítulo e descrição.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
                  <code class="language-html" data-lang="html">
                  &lt;mpc-card [titulo]="'Card 1'" [subtitulo]="'Tamanho Extra Pequeno'" [descricao]="'class=card-xs'"
            [imagem]="'no-image.jpg'" [links]="[&lcub;icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'&rcub;]"
            [tamanhoCard]="'card-xs'"&gt;
          &lt;/mpc-card&gt;
                  </code>
          </pre>
        </div>

        <h5>Os parâmetros deste componente são os seguintes:</h5>

        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do card.</li>
          <li><strong>subtitulo</strong>: O subtítulo do card.</li>
          <li><strong>descricao</strong>: A descrição do card.</li>
          <li><strong>imagem</strong>: A imagem do card. Necessário ter a imagem na pasta "/public/img". Exemplo:
            'imagem.jpg'.</li>
          <li><strong>links</strong>: Os links do card. Em formato:
            <code>[&lcub; icone: 'string', url: 'string' &rcub;]</code>
          </li>
          <li><strong>tamanhoCard</strong>: O tamanho do card, que pode ser: <code>XS</code>, <code>SM</code>,
            <code>MD</code>, <code>LG</code>, <code>XL</code> ou <code>XXL</code>. Padrão: <code>MD</code>.
          </li>
          <li><strong>tabIndex</strong>: O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: O texto de acessibilidade do componente.</li>
        </ul>
      </h5>

      <div class="row justify-content-between">

        <div class="col-lg-4 d-flex justify-content-center mb-3">
          <mpc-card titulo="Card 1" subtitulo="Tamanho Extra Pequeno" descricao="class=card-xs" imagem="no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]" tamanhoCard="XS">
          </mpc-card>
        </div>

        <div class="col-lg-4 d-flex justify-content-center mb-3">
          <mpc-card titulo="Card 2" subtitulo="Tamanho Pequeno" descricao="class=card-sm" imagem="no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]" tamanhoCard="SM">
          </mpc-card>
        </div>

        <div class="col-lg-4 d-flex justify-content-center mb-3">
          <mpc-card titulo="Card 3" subtitulo="Tamanho Médio" descricao="class=card-md" imagem="no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]" tamanhoCard="MD">
          </mpc-card>
        </div>

      </div>

    </div>

  </section>
  <!-- ======= MpcCard ======= -->

  <!-- ======= MpcTabs ======= -->
  <section id="cards" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC <span>Tabs</span></p>
      </div>

      <h5>
        O <code>mpc-tabs</code> é um componente que permite criar tabs personalizados. Os tabs são utilizados para
        exibir informações de forma organizada e atraente.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code class="language-html" data-lang="html">
                &lt;mpc-tabs [tabs]="tabs" [tabIndex]="0" ariaLabel="Tabs" (tabSelected)="selectTab($event)"&gt;&lt;/mpc-tabs&gt;
              </code>
          </pre>
        </div>

        <h5>Os parâmetros deste componente são os seguintes:</h5>

        <ul class="text-start mt-3">
          <li><strong>tabs</strong>: Os tabs do componente. Formato:
            <code>[&lcub; id: 'string', titulo: 'string' &rcub;]</code>
          </li>
          <li><strong>tabIndex</strong>: O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: O texto de acessibilidade do componente.</li>
        </ul>
      </h5>

      <div class="row justify-content-center">

        <mpc-tabs [tabs]="tabs" [tabIndex]="0" ariaLabel="Tabs" (tabSelected)="selectTab($event)"></mpc-tabs>

        <h4 *ngIf="tabSelecionada === 'conteudoTab1'" class="d-flex justify-content-center mt-3">Conteúdo 1</h4>
        <h4 *ngIf="tabSelecionada === 'conteudoTab2'" class="d-flex justify-content-center mt-3">Conteúdo 2</h4>
        <h4 *ngIf="tabSelecionada === 'conteudoTab3'" class="d-flex justify-content-center mt-3">Conteúdo 3</h4>

      </div>

    </div>

  </section>
  <!-- ======= MpcTabs ======= -->

  <!-- ======= MpcModal ======= -->
  <section id="modais" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC<span> Modais </span> </p>
      </div>

      <h5>
        O componente <code>mpc-modal</code> é baseado na estrutura de modais do Bootstrap, que permite criar janelas
        modais responsivas e estilizadas. Os modais são utilizados para exibir informações, formulários ou mensagens ao
        usuário sem sair da página atual.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
            <code class="language-html" data-lang="html">
            &lt;mpc-modal #modalExemplo&gt;&lt;/mpc-modal&gt;
            </code>
          </pre>
        </div>

        <h5>Os parâmetros deste componente são enviados no arquivo <code>.ts</code> com os seguintes campos:</h5>

        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título que será exibido no cabeçalho do modal.</li>
          <li><strong>texto</strong>: O conteúdo principal que será exibido dentro do modal.</li>
          <li><strong>tipoModal</strong>: Define o tipo do modal, como confirmação, sucesso, aviso, etc.</li>
          <li><strong>botao</strong>: A função que será chamada ao clicar no botão principal do modal.</li>
          <li><strong>textoBotao</strong>: O texto que será exibido no botão principal.</li>
          <li><strong>segundoBotao</strong>: (opcional) A função que será chamada ao clicar no segundo botão, se houver.
          </li>
          <li><strong>textoSegundoBotao</strong>: (opcional) O texto que será exibido no segundo botão, se houver.</li>
        </ul>
      </h5>

      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <pre class="chroma">
          <code class="language-html mb-2 text-center" data-lang="javascript">
            &commat;ViewChild('modalExemplo', &lcub; static: true &rcub;) modalExemplo!: MpcModalComponent;
          </code>
        </pre>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalSucesso() &lcub;
                  const modalSucesso: ModalConfig = &lcub;
                    titulo: 'Modal de Sucesso',
                    texto: 'Parabéns',
                    tipoModal: TipoModal.SUCESSO,
                    botao: () => &lcub; return true; &rcub;,
                    textoBotao: 'OK',
                    segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                    textoSegundoBotao: 'Fechar',
                  &rcub;

                  this.modalExemplo.modal = modalSucesso;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalSucesso()" [corBotao]="'btn-success'"
              [icone]="'bi bi-check-all'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Sucesso'">
            </mpc-button>
          </div>

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalConfirmacao() &lcub;
                  const modalConfirmacao: ModalConfig = &lcub;
                  titulo: 'Modal de Confirmação',
                  texto: 'Este é um modal de confirmação',
                  tipoModal: TipoModal.CONFIRMACAO,
                  botao: () => &lcub; return true; &rcub;,
                  textoBotao: 'OK',
                  segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                  textoSegundoBotao: 'Fechar',
                &rcub;;

                this.modalExemplo.modal = modalConfirmacao;
                this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalConfirmacao()" [corBotao]="'btn-info'"
              [icone]="'bi bi-question-lg'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Confirmação'">
            </mpc-button>
          </div>
        </div>

        <div class="col-lg-6">

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalAlerta() &lcub;
                  const modalAlerta: ModalConfig = &lcub;
                    titulo: 'Modal de Alerta',
                    texto: 'Este é um modal de alerta',
                    tipoModal: TipoModal.ALERTA,
                    botao: () => &lcub; return true; &rcub;,
                    textoBotao: 'OK',
                    segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                    textoSegundoBotao: 'Fechar',
                  &rcub;

                  this.modalExemplo.modal = modalAlerta;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalAlerta()" [corBotao]="'btn-warning'"
              [icone]="'bi bi-exclamation-triangle'" [posicaoIcone]="'esquerda'" [tabIndex]="0"
              [texto]="'Modal de Alerta'">
            </mpc-button>
          </div>

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalErro() &lcub;
                  const modalErro: ModalConfig = &lcub;
                    titulo: 'Modal de Erro',
                    texto: 'Este é um modal de erro',
                    tipoModal: TipoModal.ERRO,
                    botao: () => this.modalExemplo?.fecharModal(),
                    textoBotao: 'OK',
                    // Não é necessário passar o segundo botão
                    // O modal de erro já possui um botão de copiar o erro
                  &rcub;

                  this.modalExemplo.modal = modalErro;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-6 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalErro()" [corBotao]="'btn-danger'" [icone]="'bi bi-bug'"
              [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Erro'">
            </mpc-button>
          </div>

        </div>

      </div>

      <h5>
        Para mais informações sobre como utilizar modais no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/modal/" target="_blank">documentação oficial do Bootstrap
          sobre modais</a>.
      </h5>

    </div>

  </section>
  <!-- ======= MpcModal ======= -->

  <!-- ======= MpcComprovante ======= -->
  <section id="comprovante" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC<span> Comprovantes </span> </p>
      </div>

      <h5>
        O componente <code>mpc-comprovante</code> é baseado na estrutura de modais do Bootstrap, que permite criar
        janelas
        modais responsivas e estilizadas. Os modais são utilizados para exibir informações, formulários ou mensagens ao
        usuário sem sair da página atual.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
            <code class="language-html" data-lang="html">
            &lt;mpc-comprovante [comprovante]="dadosComprovante" #comprovanteExemplo&gt;&lt;/mpc-comprovante&gt;
            </code>
          </pre>
        </div>
      </h5>

      <h5>Agora, veja como é a implementação deste componente no arquivo <code>.ts</code></h5>

      <div class="row mb-5">

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code class="language-html mb-2" data-lang="html">
                &commat;ViewChild('comprovanteExemplo', &lcub; static: true &rcub;) comprovanteExemplo!: MpcComprovanteComponent;
                dadosComprovante: MpcComprovanteConfig = &lcub;&rcub; as MpcComprovanteConfig;
              </code>
            </pre>
        </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code>
                abrirModalComprovante() &lcub;
                  this.dadosComprovante = &lcub;
                    titulo: 'Comprovante de inscrição',
                    dados: &lcub;
                      dadosInscricao: &lcub;
                        codigoInscricao: '123456',
                        dataInscricao: new Date().toLocaleDateString('pt-BR'),
                        status: 'ATIVO',
                      &rcub;,
                      dadosPessoais: [
                        &lcub; label: 'Nome', valor: 'Fulano de Tal' &rcub;,
                        &lcub; label: 'CPF', valor: '123.456.789-00' &rcub;,
                        &lcub; label: 'E-mail', valor: 'fulano&commat;example.com' &rcub;,
                      ],
                      dadosPagamento: &lcub;
                        formaPagamento: 'Cartão de Crédito',
                        valor: 100.00,
                        statusPagamento: 'A PAGAR'
                      &rcub;,
                    &rcub;
                  &rcub;;

                  this.comprovanteExemplo?.abrirComprovante();
                &rcub;
              </code>
            </pre>
        </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <mpc-button [disabled]="false" (click)="abrirModalComprovante()" [corBotao]="'btn-outline-secondary'"
            [icone]="'bi bi-body-text'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Abrir Comprovante'">
          </mpc-button>
        </div>

      </div>

      <h5>
        Para mais informações sobre como utilizar modais no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/modal/" target="_blank">documentação oficial do Bootstrap
          sobre modais</a>.
      </h5>

    </div>

  </section>
  <!-- ======= MpcComprovante ======= -->

  <!-- ======= MpcFooter ======= -->
  <section id="footer" class="section-components bg-color-primary text-color-white">
    <div class="container">

      <div class="section-header">
        <h2 class="text-color-white">experimente o</h2>
        <p>MPC <span>Footer</span></p>
      </div>

      <h5 class="text-color-white">
        O <code>mpc-footer</code> é um componente que exibe o rodapé da página, com informações sobre a empresa ou
        organização, links úteis e informações de contato. Pode ser colocado em qualquer página, mas
        caso deseje utilizar para todas as páginas do projeto, incluá-o no arquivo <code>app.component.html</code>.
      </h5>

      <h5 class="text-color-white">
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma bg-color-white text-color-primary">
              <code class="language-html" data-lang="html">
              &lt;mpc-footer&gt;&lt;/mpc-footer&gt;
              </code>
            </pre>
        </div>
      </h5>
    </div>

    <hr>
  </section>
  <!-- ======= Loader ======= -->

</main>

<mpc-modal #modalExemplo></mpc-modal>
<mpc-comprovante [comprovante]="dadosComprovante" #comprovanteExemplo></mpc-comprovante>
