<mpc-navbar></mpc-navbar>

<!-- ======= Capa Section ======= -->
<section id="capa" class="capa d-flex align-items-center bg-image">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center text-center">
        <h2> <span>Componentes</span> </h2>
      </div>
    </div>
  </div>
</section>
<!-- ======= End Capa Section ======= -->

<main >

  <!-- ======= MpcLoader ======= -->
  <section id="loader" class="section-components bg-color-primary text-color-white">
    <div class="container">

      <div class="section-header">
        <h2 class="text-color-white">experimente o</h2>
        <p>MPC <span>Loader</span></p>
      </div>

      <h5 class="text-color-white">
        O <code>mpc-loader</code> é um componente que exibe uma animação de carregamento enquanto o conteúdo da página
        está sendo
        carregado a cada requisição HTTP. Pode ser colocado em qualquer lugar da sua página, mas
        caso deseje utilizar para todas as páginas do projeto, incluá-o no arquivo <code>app.component.html</code>.
      </h5>

      <h5 class="text-color-white">
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma bg-color-white text-color-primary">
              <code class="language-html" data-lang="html">
              &lt;mpc-loader&gt;&lt;/mpc-loader&gt;
              </code>
          </pre>
        </div>
      </h5>

      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <mpc-button [disabled]="false" (click)="abrirLoading()" [corBotao]="'btn-info'"
          [icone]="'bi bi-arrow-clockwise'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Abrir Loader'">
        </mpc-button>
      </div>

    </div>

  </section>
  <!-- ======= MpcLoader ======= -->

  <!-- ======= MpcTabs ======= -->
  <section id="cards" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC <span>Tabs</span></p>
      </div>

      <h5>
        O <code>mpc-tabs</code> é um componente que permite criar tabs personalizados. Os tabs são utilizados para
        exibir informações de forma organizada e atraente.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code class="language-html" data-lang="html">
                &lt;mpc-tabs [tabs]="tabs" [tabIndex]="0" ariaLabel="Tabs" (tabSelected)="selectTab($event)"&gt;&lt;/mpc-tabs&gt;
              </code>
          </pre>
        </div>

        <h5>Os parâmetros deste componente são os seguintes:</h5>

        <ul class="text-start mt-3">
          <li><strong>tabs</strong>: Os tabs do componente. Formato:
            <code>[&lcub; id: 'string', titulo: 'string' &rcub;]</code>
          </li>
          <li><strong>tabIndex</strong>: O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: O texto de acessibilidade do componente.</li>
        </ul>
      </h5>

      <div class="row justify-content-center">

        <mpc-tabs [tabs]="tabs" [tabIndex]="0" ariaLabel="Tabs" (tabSelected)="selectTab($event)"></mpc-tabs>

        <h4 *ngIf="tabSelecionada === 'conteudoTab1'" class="d-flex justify-content-center mt-3">Conteúdo 1</h4>
        <h4 *ngIf="tabSelecionada === 'conteudoTab2'" class="d-flex justify-content-center mt-3">Conteúdo 2</h4>
        <h4 *ngIf="tabSelecionada === 'conteudoTab3'" class="d-flex justify-content-center mt-3">Conteúdo 3</h4>

      </div>

    </div>

  </section>
  <!-- ======= MpcTabs ======= -->

  <!-- ======= MpcModal ======= -->
  <section id="modais" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC<span> Modais </span> </p>
      </div>

      <h5>
        O componente <code>mpc-modal</code> é baseado na estrutura de modais do Bootstrap, que permite criar janelas
        modais responsivas e estilizadas. Os modais são utilizados para exibir informações, formulários ou mensagens ao
        usuário sem sair da página atual.
      </h5>

      <h5>
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
            <code class="language-html" data-lang="html">
            &lt;mpc-modal #modalExemplo&gt;&lt;/mpc-modal&gt;
            </code>
          </pre>
        </div>

        <h5>Os parâmetros deste componente são enviados no arquivo <code>.ts</code> com os seguintes campos:</h5>

        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título que será exibido no cabeçalho do modal.</li>
          <li><strong>texto</strong>: O conteúdo principal que será exibido dentro do modal.</li>
          <li><strong>tipoModal</strong>: Define o tipo do modal, como confirmação, sucesso, aviso, etc.</li>
          <li><strong>botao</strong>: A função que será chamada ao clicar no botão principal do modal.</li>
          <li><strong>textoBotao</strong>: O texto que será exibido no botão principal.</li>
          <li><strong>segundoBotao</strong>: (opcional) A função que será chamada ao clicar no segundo botão, se houver.
          </li>
          <li><strong>textoSegundoBotao</strong>: (opcional) O texto que será exibido no segundo botão, se houver.</li>
        </ul>
      </h5>

      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <pre class="chroma">
          <code class="language-html mb-2 text-center" data-lang="javascript">
            &commat;ViewChild('modalExemplo', &lcub; static: true &rcub;) modalExemplo!: MpcModalComponent;
          </code>
        </pre>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalSucesso() &lcub;
                  const modalSucesso: ModalConfig = &lcub;
                    titulo: 'Modal de Sucesso',
                    texto: 'Parabéns',
                    tipoModal: TipoModal.SUCESSO,
                    botao: () => &lcub; return true; &rcub;,
                    textoBotao: 'OK',
                    segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                    textoSegundoBotao: 'Fechar',
                  &rcub;

                  this.modalExemplo.modal = modalSucesso;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalSucesso()" [corBotao]="'btn-success'"
              [icone]="'bi bi-check-all'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Sucesso'">
            </mpc-button>
          </div>

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalConfirmacao() &lcub;
                  const modalConfirmacao: ModalConfig = &lcub;
                  titulo: 'Modal de Confirmação',
                  texto: 'Este é um modal de confirmação',
                  tipoModal: TipoModal.CONFIRMACAO,
                  botao: () => &lcub; return true; &rcub;,
                  textoBotao: 'OK',
                  segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                  textoSegundoBotao: 'Fechar',
                &rcub;;

                this.modalExemplo.modal = modalConfirmacao;
                this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalConfirmacao()" [corBotao]="'btn-info'"
              [icone]="'bi bi-question-lg'" [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Confirmação'">
            </mpc-button>
          </div>
        </div>

        <div class="col-lg-6">

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalAlerta() &lcub;
                  const modalAlerta: ModalConfig = &lcub;
                    titulo: 'Modal de Alerta',
                    texto: 'Este é um modal de alerta',
                    tipoModal: TipoModal.ALERTA,
                    botao: () => &lcub; return true; &rcub;,
                    textoBotao: 'OK',
                    segundoBotao: () => &lcub; this.modalExemplo?.fecharModal(); &rcub;,
                    textoSegundoBotao: 'Fechar',
                  &rcub;

                  this.modalExemplo.modal = modalAlerta;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalAlerta()" [corBotao]="'btn-warning'"
              [icone]="'bi bi-exclamation-triangle'" [posicaoIcone]="'esquerda'" [tabIndex]="0"
              [texto]="'Modal de Alerta'">
            </mpc-button>
          </div>

          <div class="col-md-12 mb-3 d-flex justify-content-center">
            <pre class="chroma">
              <code>
                abrirModalErro() &lcub;
                  const modalErro: ModalConfig = &lcub;
                    titulo: 'Modal de Erro',
                    texto: 'Este é um modal de erro',
                    tipoModal: TipoModal.ERRO,
                    botao: () => this.modalExemplo?.fecharModal(),
                    textoBotao: 'OK',
                    // Não é necessário passar o segundo botão
                    // O modal de erro já possui um botão de copiar o erro
                  &rcub;

                  this.modalExemplo.modal = modalErro;
                  this.modalExemplo?.abrirModal();
                &rcub;
              </code>
            </pre>
          </div>
          <div class="col-md-6 mb-3 d-flex justify-content-center">
            <mpc-button [disabled]="false" (click)="abrirModalErro()" [corBotao]="'btn-danger'" [icone]="'bi bi-bug'"
              [posicaoIcone]="'esquerda'" [tabIndex]="0" [texto]="'Modal de Erro'">
            </mpc-button>
          </div>

        </div>

      </div>

      <h5>
        Para mais informações sobre como utilizar modais no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/modal/" target="_blank">documentação oficial do Bootstrap
          sobre modais</a>.
      </h5>

    </div>

  </section>
  <!-- ======= MpcModal ======= -->

  <!-- ======= MpcFooter ======= -->
  <section id="footer" class="section-components bg-color-primary text-color-white">
    <div class="container">

      <div class="section-header">
        <h2 class="text-color-white">experimente o</h2>
        <p>MPC <span>Footer</span></p>
      </div>

      <h5 class="text-color-white">
        O <code>mpc-footer</code> é um componente que exibe o rodapé da página, com informações sobre a empresa ou
        organização, links úteis e informações de contato. Pode ser colocado em qualquer página, mas
        caso deseje utilizar para todas as páginas do projeto, incluá-o no arquivo <code>app.component.html</code>.
      </h5>

      <h5 class="text-color-white">
        Veja como é a implementação deste componente no arquivo <code>.html</code> no exemplo abaixo.

        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma bg-color-white text-color-primary">
              <code class="language-html" data-lang="html">
              &lt;mpc-footer&gt;&lt;/mpc-footer&gt;
              </code>
            </pre>
        </div>
      </h5>
    </div>

    <hr>
  </section>
  <!-- ======= Loader ======= -->

</main>

<mpc-modal #modalExemplo></mpc-modal>
