<!-- ======= Page Header Home Section ======= -->
<section id="page-header-home" class="page-header-home">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-8 page-header-content">
        <h2><span>Mpc</span></h2>
        <h2> Components </h2>
        <br>
        <p>Desenvolvido por
          <a href="https://www.linkedin.com/in/matheuspcouto/" target="_blank">
            Matheus Pimentel Do Couto
          </a>
        </p>
        <div class="d-flex">
          <a routerLink="/documentacao" class="btn-page-header">
            <i class="bi bi-book-fill"></i>
            Veja como usar
          </a>
        </div>
      </div>
      <div class="col-lg-4 order-lg-2">
        <img src="/img/logo.png" class="img-page-header">
      </div>
    </div>
  </div>
</section>
<!-- ======= End Page Header Home Section ======= -->
