<section id="inscricao" class="inscricao">

  <div class="section-header">
    <h2>preencha seus dados abaixo no</h2>
    <p>Formulário de <span> Inscrição </span> </p>
  </div>

  <div class="container">

    <mpc-form-progress-bar [etapaAtual]="2" [totalEtapas]="4" [barColor]="'var(--color-secondary)'"
      color="'var(--color-tertiary)'"></mpc-form-progress-bar>

    <h3>Contato</h3>
    <p class="text-muted mb-3">Campos obrigatórios (*)</p>

    <form [formGroup]="form">

      <div class="row">
        <div class="col-md-6 mb-3">
          <mpc-input-telefone [required]="true" (valor)="form.controls.telefone.setValue($event)"
            (error)="form.controls.telefone.setErrors($event)" [value]="form.value.telefone" />
        </div>

        <div class="col-md-6 mb-3">
          <mpc-input-email [required]="true" [value]="form.value.email" (valor)="form.controls.email.setValue($event)"
            (error)="form.controls.email.setErrors($event)" />
        </div>
      </div>

      <div class="col-md-6 mb-3 align-items-center justify-content-between">
        <mpc-input-busca-cep [value]="form.value.cep" [required]="true" (valor)="definirEnderecoPorCep($event)"
          (error)="form.controls.cep.setErrors($event)" />
      </div>

      <div class="row">

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Cidade" [readonly]="true" [value]="form.value.cidade"
            (valor)="form.controls.cidade.setValue($event)" (error)="form.controls.cidade.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Estado" [readonly]="true" [value]="form.value.estado"
            (valor)="form.controls.estado.setValue($event)" (error)="form.controls.estado.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Bairro" [readonly]="true" [value]="form.value.bairro"
            (valor)="form.controls.bairro.setValue($event)" (error)="form.controls.bairro.setErrors($event)" />
        </div>

      </div>

      <div class="row">

        <div class="col-md-8 mb-3">
          <mpc-input-text label="Rua" [value]="form.value.rua" [readonly]="true"
            (valor)="form.controls.rua.setValue($event)" (error)="form.controls.rua.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Número/Lote" [value]="form.value.numero" min="1"
            (valor)="form.controls.numero.setValue($event)" (error)="form.controls.numero.setErrors($event)" />
        </div>

      </div>

      <div class="row">
        <mpc-input-text label="Complemento" max="50" [value]="form.value.complemento"
          (valor)="form.controls.complemento.setValue($event)" (error)="form.controls.complemento.setErrors($event)" />
      </div>

      <div class="d-flex justify-content-center align-items-center mt-5">
        <button mpcButton (click)="proximaEtapa()" class="btn-proximo" icone="bi bi-arrow-right" texto="Próximo"
          [disabled]="form.invalid">
        </button>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-3">
        <button mpcButton (click)="etapaAnterior()" class="btn-voltar" posicaoIcone="esquerda" icone="bi bi-arrow-left"
          texto="Voltar para Dados Pessoais">
        </button>
      </div>

    </form>

  </div>

</section>