<mpc-navbar></mpc-navbar>

<section id="inscricao" class="inscricao">

  <div class="section-header">
    <h2>preencha seus dados abaixo no</h2>
    <p>Formulário de <span> Inscrição </span> </p>
  </div>

  <div class="container">

    <mpc-form-progress-bar [etapaAtual]="2" [totalEtapas]="3"></mpc-form-progress-bar>

    <h3>Contato</h3>
    <p class="text-muted mb-3">Campos obrigatórios (*)</p>

    <form [formGroup]="form">

      <div class="row">
        <div class="col-md-6 mb-3">
          <mpc-input-telefone [required]="true" (valor)="form.controls.telefone.setValue($event)"
            (error)="form.controls.telefone.setErrors($event)" />
        </div>

        <div class="col-md-6 mb-3">
          <mpc-input-email [required]="true" (valor)="form.controls.email.setValue($event)"
            (error)="form.controls.email.setErrors($event)" />
        </div>
      </div>

      <div class="col-md-6 mb-3 align-items-center justify-content-between">
        <mpc-input-pesquisa-cep [value]="form.value.cep" (valor)="definirEnderecoPorCep($event)" />
      </div>

      <div class="row">

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Cidade" [value]="form.value.cidade" (valor)="form.controls.cidade.setValue($event)"
            (error)="form.controls.cidade.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Estado" [value]="form.value.estado" (valor)="form.controls.estado.setValue($event)"
            (error)="form.controls.estado.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-text label="Bairro" [value]="form.value.bairro" (valor)="form.controls.bairro.setValue($event)"
            (error)="form.controls.bairro.setErrors($event)" />
        </div>

      </div>

      <div class="row">

        <div class="col-md-10 mb-3">
          <mpc-input-text label="Rua" [value]="form.value.rua"
            (valor)="form.controls.rua.setValue($event)" (error)="form.controls.rua.setErrors($event)" />
        </div>

        <div class="col-md-2 mb-3">
          <!-- TODO: criar mpc-input-number -->
          <mpc-input-text label="Número" min="1" max="99999" [value]="form.value.numero"
            (valor)="form.controls.numero.setValue($event)" (error)="form.controls.numero.setErrors($event)" />
        </div>

      </div>

      <div class="row">
        <mpc-input-text label="Complemento" max="30" [value]="form.value.complemento"
          (valor)="form.controls.complemento.setValue($event)" (error)="form.controls.complemento.setErrors($event)" />
      </div>

    </form>

    <div class="row mt-5">

      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="etapaAnterior()" corBotao="btn-outline-secondary" icone="bi bi-arrow-left" texto="Voltar">
        </mpc-button>
      </div>

      <div class="col-md-6 mb-3 div-buttons">
        <mpc-button (click)="proximaEtapa()" corBotao="btn-primary" icone="bi bi-arrow-right" posicaoIcone="direita"
          texto="Próximo" [disabled]="form.invalid">
        </mpc-button>
      </div>
    </div>

  </div>

</section>

<mpc-modal #modalErro></mpc-modal>
