.container {
  font-family: var(--font-default);
  font-weight: 600;
  padding: 2rem;

  #barra-progresso {
    --mpc-color-bar: var(--color-secondary);
    --mpc-color-text: var(--color-tertiary);
  }

  form {
    /* Inputs */
    --mpc-color-text: var(--color-primary);
    --mpc-color-border: var(--color-tertiary);
    --mpc-color-border-success: var(--color-secondary);
    --mpc-font-text: var(--font-subtitle);

    #btn-proximo {
      --mpc-bg-color-btn: var(--color-primary);
      --mpc-text-color-btn: white;
      --mpc-bg-color-btn-hover: var(--color-secondary);
    }

    #btn-voltar {
      --mpc-bg-color-btn: transparent;
      --mpc-text-color-btn: var(--color-tertiary);
    }
  }
}