main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;

  h5 {
    font-weight: 400;
    color: var(--mpc-color-tertiary);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--mpc-color-tertiary);
      text-transform: uppercase;
      font-family: var(--mpc-font-default);
    }

    p {
      margin: 0;
      font-size: 48px;
      font-weight: 400;
      font-family: var(--mpc-font-default);

      span {
        color: var(--mpc-color-secondary);
      }
    }
  }

}

pre {
  background-color: var(--mpc-color-primary);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  code {
    width: 100%;
    white-space: pre-line;
  }
}

#modal-exemplo {
  /* Cores */
  --mpc-color-bg-modal: white;
  --mpc-color-title-modal: var(--color-primary);
  --mpc-color-description-modal: var(--color-tertiary);

  /* Botões */
  --mpc-color-first-button-bg-modal: var(--color-primary);
  --mpc-color-first-button-text-modal: white;

  --mpc-color-second-button-bg-modal: var(--color-secondary);
  --mpc-color-second-button-text-modal: white;

  --mpc-color-copy-button-bg-modal: transparent;
  --mpc-color-copy-button-text-modal: var(--color-primary);

  /* Fontes */
  --mpc-font-title-modal: var(--font-subtitle);
  --mpc-font-description-modal: var(--font-default);
  --mpc-font-button-modal: var(--font-default);
}

#btn-modal-sucesso {
  --mpc-bg-color-btn: green;
  --mpc-text-color-btn: white;
}

#btn-modal-confirmacao {
  --mpc-bg-color-btn: black;
  --mpc-text-color-btn: white;
}

#btn-modal-alerta {
  --mpc-bg-color-btn: yellow;
  --mpc-text-color-btn: black;
}

#btn-modal-erro {
  --mpc-bg-color-btn: red;
  --mpc-text-color-btn: white;
}