<main>

  <!-- ======= MpcModal INÍCIO ======= -->
  <section id="modais">
    <div class="container">
      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC<span> Modais </span> </p>
      </div>
      <h5>
        <strong>Descrição:</strong> O componente <code>mpc-modal</code> é baseado na estrutura de modais do Bootstrap,
        que permite criar janelas modais responsivas e estilizadas. Os modais são utilizados para exibir informações,
        formulários ou mensagens ao usuário sem sair da página atual.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título exibido no cabeçalho do modal.</li>
          <li><strong>texto</strong>: O conteúdo principal exibido dentro do modal.</li>
          <li><strong>tipoModal</strong>: Define o tipo do modal, como confirmação, sucesso, aviso, etc.</li>
          <li><strong>botao</strong>: Função chamada ao clicar no botão principal do modal.</li>
          <li><strong>textoBotao</strong>: O texto exibido no botão principal.</li>
          <li><strong>segundoBotao</strong>: (opcional) Função chamada ao clicar no segundo botão, se houver.</li>
          <li><strong>textoSegundoBotao</strong>: (opcional) O texto exibido no segundo botão, se houver.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcModalComponent ]</code></pre>
      </div>
      <div class="mb-3">
        <h5><strong>Exemplo de uso no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>&#64;ViewChild('modalExemplo', &#123; static: true &#125;) modalExemplo!: MpcModalComponent;

abrirModalSucesso() &#123;
  const modalSucesso: ModalConfig = &#123;
    titulo: 'Modal de Sucesso',
    texto: 'Parabéns',
    tipoModal: TipoModal.SUCESSO,
    botao: () => &#123; return true; &#125;,
    textoBotao: 'OK',
    segundoBotao: () => &#123; this.modalExemplo?.fecharModal(); &#125;,
    textoSegundoBotao: 'Fechar',
  &#125;;
  this.modalExemplo?.abrirModal(modalSucesso);
&#125;</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre
          class="chroma"><code class="language-html" data-lang="html">&lt;mpc-modal #modalExemplo&gt;&lt;/mpc-modal&gt;</code></pre>
      </div>
      <h5>Veja e teste abaixo os tipos de modais disponíveis</h5>
      <div class="row gy-3 mb-5">
        <div class="col-lg-6 d-flex justify-content-center">
          <mpc-button (click)="abrirModalSucesso()" [cores]="{ backgroundColor: 'green', color: 'white' }" icone="bi bi-check-all"
            posicaoIcone="esquerda" [tabIndex]="0" texto="Modal de Sucesso"></mpc-button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <mpc-button (click)="abrirModalConfirmacao()" [cores]="{ backgroundColor: 'black', color: 'white' }" icone="bi bi-question-lg"
            posicaoIcone="esquerda" [tabIndex]="0" texto="Modal de Confirmação"></mpc-button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <mpc-button (click)="abrirModalAlerta()" [cores]="{ backgroundColor: 'yellow', color: 'black' }"
            icone="bi bi-exclamation-triangle" posicaoIcone="esquerda" [tabIndex]="0"
            texto="Modal de Alerta"></mpc-button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <mpc-button (click)="abrirModalErro()" [cores]="{ backgroundColor: 'red', color: 'white' }" icone="bi bi-bug"
            posicaoIcone="esquerda" [tabIndex]="0" texto="Modal de Erro"></mpc-button>
        </div>
      </div>
      <h5>
        Para mais informações sobre como utilizar modais no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/modal/" target="_blank">documentação oficial do Bootstrap
          sobre modais</a>.
      </h5>
    </div>
  </section>
  <!-- ======= MpcModal FIM ======= -->

</main>

<mpc-modal #modalExemplo></mpc-modal>

