/* Estilos base para o componente page header */
.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 30vh;
  padding: 160px 0 60px 0;
  background-position: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-weight: 700;
      margin-bottom: 20px;
      color: var(--color-white);
      font-family: var(--font-primary);
      font-size: clamp(3em, 3em + 1vw, 4em);
    }

    span {
      color: var(--color-primary);
      font-family: var(--font-title);
      font-weight: 300;
    }
  }
}