<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>
  <!-- ======= MPC Inputs INÍCIO ======= -->
  <section id="inputs">
    <div class="container">
      <div class="section-header">
        <h2>Experimente os</h2>
        <p>MPC <span>Inputs</span></p>
      </div>

      <h5>
        <strong>Descrição:</strong> Os <code>mpc-input-*</code> são componentes customizados baseados no Bootstrap para
        entrada de dados, como texto, número, data, e-mail, senha, telefone, CPF/CNPJ, CEP, área de texto, rádio e
        select. Eles oferecem validação, acessibilidade e integração fácil com formulários Angular.
      </h5>
      <h5>
        <strong>Propriedades comuns:</strong>
        <ul class="text-start mt-3">
          <li><strong>label</strong>: Label do campo (quando aplicável).</li>
          <li><strong>value</strong>: Valor do campo.</li>
          <li><strong>id</strong>: (opcional) Id do campo.</li>
          <li><strong>tabIndex</strong>: (opcional) Índice de tabulação do campo.</li>
          <li><strong>ariaLabel</strong>: (opcional) Label para acessibilidade.</li>
          <li><strong>readonly</strong>: (opcional) Campo somente leitura.</li>
          <li><strong>disabled</strong>: (opcional) Indica se o campo está desabilitado.</li>
          <li><strong>required</strong>: (opcional) Indica se o campo é obrigatório.</li>
          <li><strong>min</strong>: (opcional) Valor mínimo ou mínimo de caracteres (quando aplicável).</li>
          <li><strong>max</strong>: (opcional) Valor máximo ou máximo de caracteres (quando aplicável).</li>
          <li><strong>options</strong>: (apenas para rádio e select) Lista de opções do campo.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [
  MpcInputTextComponent,
  MpcInputNumberComponent,
  MpcInputDateComponent,
  MpcInputEmailComponent,
  MpcInputSenhaComponent,
  MpcInputTelefoneComponent,
  MpcInputCpfcnpjComponent,
  MpcInputBuscaCepComponent,
  MpcInputTextAreaComponent,
  MpcInputRadioComponent,
  MpcInputSelectComponent
]</code></pre>
      </div>
      <div class="mb-3">
        <h5><strong>Inicialização do formulário no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>private readonly formBuilder = inject(NonNullableFormBuilder);

protected form = this.formBuilder.group(&#123;
  nome: [''],
  idade: [0],
  dataNasc: [''],
  email: [''],
  senha: [''],
  telefone: [''],
  cpfCnpj: [''],
  descricao: [''],
  cep: [''],
  rua: [''],
  numero: [''],
  complemento: [''],
  bairro: [''],
  cidade: [''],
  estado: [''],
&#125;);</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-input-text label="Nome" [value]="form.value.nome" (valor)="form.controls.nome.setValue($event)" (error)="form.controls.nome.setErrors($event)" min="3" /&gt;

&lt;mpc-input-number label="Idade" [value]="form.value.idade" (valor)="form.controls.idade.setValue($event)" (error)="form.controls.idade.setErrors($event)" [min]="18" [max]="100" /&gt;

&lt;mpc-input-date label="Data de Nascimento" [value]="form.value.dataNasc" (valor)="form.controls.dataNasc.setValue($event)" (error)="form.controls.dataNasc.setErrors($event)" [minDate]="minDate" [required]="true" [maxDate]="maxDate" /&gt;

&lt;mpc-input-email [value]="form.value.email" (valor)="form.controls.email.setValue($event)" (error)="form.controls.email.setErrors($event)" [required]="true" /&gt;

&lt;mpc-input-senha [value]="form.value.senha" (valor)="form.controls.senha.setValue($event)" (error)="form.controls.senha.setErrors($event)" [required]="true" /&gt;

&lt;mpc-input-telefone [value]="form.value.telefone" (valor)="form.controls.telefone.setValue($event)" (error)="form.controls.telefone.setErrors($event)" [required]="true" /&gt;

&lt;mpc-input-cpfcnpj [value]="form.value.cpfCnpj" (valor)="form.controls.cpfCnpj.setValue($event)" (error)="form.controls.cpfCnpj.setErrors($event)" [required]="true" /&gt;

&lt;mpc-input-busca-cep [value]="form.value.cep" [required]="true" (valor)="definirEnderecoPorCep($event)" (error)="form.controls.cep.setErrors($event)" /&gt;

&lt;mpc-input-text-area label="Descrição" [value]="form.value.descricao" (valor)="form.controls.descricao.setValue($event)" (error)="form.controls.descricao.setErrors($event)" min="10" max="100" /&gt;

&lt;mpc-input-radio label="Sexo" [options]="sexos" [required]="true" /&gt;

&lt;mpc-input-select label="Estado" [options]="estadosCivis" [required]="true" /&gt;
</code></pre>
      </div>

      <div class="row gy-4">
        <div class="col-12 d-flex justify-content-center">
          <h4>Inputs Customizados</h4>
        </div>
        <div class="col-lg-6">
          <h5>Input de Texto</h5>
          <mpc-input-text label="Nome" [value]="form.value.nome" (valor)="form.controls.nome.setValue($event)"
            (error)="form.controls.nome.setErrors($event)" min="3" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Número</h5>
          <mpc-input-number label="Idade" [value]="form.value.idade" (valor)="form.controls.idade.setValue($event)"
            (error)="form.controls.idade.setErrors($event)" [min]="18" [max]="100" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Data</h5>
          <mpc-input-date label="Data de Nascimento" [value]="form.value.dataNasc"
            (valor)="form.controls.dataNasc.setValue($event)" (error)="form.controls.dataNasc.setErrors($event)"
            [minDate]="minDate" [required]="true" [maxDate]="maxDate" />
        </div>
        <div class="col-lg-6">
          <h5>Input de E-mail</h5>
          <mpc-input-email [value]="form.value.email" (valor)="form.controls.email.setValue($event)"
            (error)="form.controls.email.setErrors($event)" [required]="true" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Senha</h5>
          <mpc-input-senha [value]="form.value.senha" (valor)="form.controls.senha.setValue($event)"
            (error)="form.controls.senha.setErrors($event)" [required]="true" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Telefone</h5>
          <mpc-input-telefone [value]="form.value.telefone" (valor)="form.controls.telefone.setValue($event)"
            (error)="form.controls.telefone.setErrors($event)" [required]="true" />
        </div>
        <div class="col-lg-6">
          <h5>Input de CPF/CNPJ</h5>
          <mpc-input-cpfcnpj [value]="form.value.cpfCnpj" (valor)="form.controls.cpfCnpj.setValue($event)"
            (error)="form.controls.cpfCnpj.setErrors($event)" [required]="true" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Área de Texto</h5>
          <mpc-input-text-area label="Descrição" [value]="form.value.descricao"
            (valor)="form.controls.descricao.setValue($event)" (error)="form.controls.descricao.setErrors($event)"
            min="10" max="100" />
        </div>
        <div class="col-lg-6">
          <h5>Input de Rádio</h5>
          <mpc-input-radio label="Sexo" [options]="sexos" [required]="true" />
        </div>
        <div class="col-lg-6">
          <h5>Input Select</h5>
          <mpc-input-select label="Estado Civil" [options]="estadosCivis" [required]="true" />
        </div>
        <div class="col-lg-12 mt-5 mb-3">
          <h5>Input de CEP</h5>
          <h6>Este campo utiliza dados da API do <a href="https://viacep.com.br/" target="_blank">ViaCEP</a>. Para saber
            mais como usar, visite a página e leia a documentação.</h6>
          <mpc-input-busca-cep [value]="form.value.cep" [required]="true" (valor)="definirEnderecoPorCep($event)"
            (error)="form.controls.cep.setErrors($event)" />
        </div>

        <div class="row">

          <div class="col-lg-4 mb-3">
            <mpc-input-text label="Cidade" [readonly]="true" [value]="form.value.cidade" />
          </div>

          <div class="col-lg-4 mb-3">
            <mpc-input-text label="Estado" [readonly]="true" [value]="form.value.estado" />
          </div>

          <div class="col-lg-4 mb-3">
            <mpc-input-text label="Bairro" [readonly]="true" [value]="form.value.bairro" />
          </div>

        </div>

        <div class="row">

          <div class="col-lg-8 mb-3">
            <mpc-input-text label="Rua" [value]="form.value.rua" [readonly]="true" />
          </div>

          <div class="col-lg-4 mb-3">
            <mpc-input-text label="Número/Lote" [value]="form.value.numero" min="1" />
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- ======= MPC Inputs FIM ======= -->
</main>

<mpc-footer></mpc-footer>