/*--------------------------------------------------------------
# Page Header Home Section
--------------------------------------------------------------*/
mpc-page-header-home {

  mpc-button {
    justify-content: start;
    display: flex;
    --mpc-bg-color-btn: white;
    --mpc-text-color-btn: var(--color-primary);
    --mpc-bg-color-btn-hover: var(--color-secondary);
    --mpc-text-color-btn-hover: white;
  }

  img {
    height: auto;
    width: 100%;
    border-radius: 50%;
  }

  h2 {
    font-family: var(--mpc-font-title) !important;
    font-size: 64px;
    font-weight: 500;
    color: white !important;

    span {
      color: var(--mpc-color-secondary);
      font-size: clamp(1em, 1em + 1vw, 3em);
    }
  }

  p {
    color: var(--mpc-color-tertiary);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: var(--mpc-color-secondary);
    }
  }
}

@media screen and (max-width: 991.98px) {
  mpc-page-header-home {
    mpc-button {
      justify-content: center;
    }

    h2 {
      font-size: 40px;
    }

    span {
      font-size: 45px;
    }
  }
}

/*--------------------------------------------------------------
# Descricao Section
--------------------------------------------------------------*/
.descricao {
  padding-bottom: 30px;

  .item-descricao {
    padding: 30px;
    width: 100%;

    i {
      display: block;
      font-size: 35px;
      color: var(--mpc-color-primary);
      float: left;
    }

    span {
      font-size: 30px;
      display: block;
      font-weight: 600;
      margin-left: 60px;
      font-family: var(--mpc-font-subtitle);
      color: var(--mpc-color-primary);
    }

    h5 {
      padding: 15px 0 0 0;
      margin: 0 0 0 60px;
      text-align: left;
      color: var(--mpc-color-tertiary);
    }
  }
}

/*--------------------------------------------------------------
# Page Divider Img Section
--------------------------------------------------------------*/
mpc-page-divider-img {

  h2 {
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: 400;
    color: white;
  }

  span {
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--mpc-color-secondary);
  }

  .content {
    flex-direction: row;
  }
}

/*--------------------------------------------------------------
# Contato Section
--------------------------------------------------------------*/
.contato {
  background-color: white;

  iframe {
    border-radius: 5px;
    width: 100%;
    height: 350px;
  }

  mpc-card-menu {
    --mpc-color-bg-icone-card-menu: var(--color-primary);

    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0;
      color: var(--color-primary);
      font-family: var(--font-subtitle);
    }

    p {
      padding: 0;
      margin: 0;
      line-height: 24px;
      font-size: 14px;
      margin-top: 5px;
      color: var(--color-primary);
      font-family: var(--font-subtitle);
    }
  }
}