<div [tabindex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">E-mail {{ required ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id" type="email" class="form-control" [value]="value" (input)="setValue($event)" (blur)="onTouched()"
      [required]="required" [style]="!isCampoValido() && value.length > 0 ? 'border-color: red' : ''" />

    <div *ngIf="value.length > 0">
      <em [style]="!isCampoValido() ? 'color: red;' : 'color: green'">
        <i [class]="!isCampoValido() ? 'bi bi-exclamation-circle' : 'bi bi-check-lg'"></i>
      </em>
    </div>
  </div>

  <div *ngIf="!isCampoValido() && value.length > 0">
    <p class="text-danger mt-1"> {{ error }} </p>
  </div>
</div>
