<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<!-- ======= Inscrições Encerradas Section ======= -->
<section id="section-inscricoes-encerradas" class="section-inscricoes-encerradas">
  <div class="container">

    <div class="section-header">
      <div class="div-img-section-inscricoes-encerradas">
        <img src="img/modal/atencao.png">
      </div>

      <p class="titulo-section">Inscrições <span>Encerradas</span> !</p>
    </div>

    <p>Infelizmente, as inscrições para este evento foram encerradas, mas não deixe de acompanhar nossas programações
      <br>
      pelo instagram da igreja: <a href="https://www.instagram.com/palmasmetodista/" target="_blank">
        &#64;palmasmetodista </a>
    </p>

  </div>
</section>
<!-- ======= End Inscriçoes Encerradas Section ======= -->

<mpc-footer></mpc-footer>
