.section-inscricoes-encerradas {
  min-height: 100vh !important;
  align-items: center;
  display: flex;

  .div-img-section-inscricoes-encerradas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 100%;

    img {
      width: 150px;
      height: auto;
    }
  }

  .titulo-section {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--cor-primaria);

    span {
      color: var(--cor-secundaria);
    }
  }

  p {
    font-style: italic;
    text-align: center;
    color: gray;
  }
}
