:host {
    /* Fontes */
    --mpc-font-title-page-divider-img: var(--mpc-font-title);
    --mpc-font-subtitle-page-divider-img: var(--mpc-font-subtitle);

    /* Cores */
    --mpc-color-title-page-divider-img: var(--mpc-color-primary);
    --mpc-color-subtitle-page-divider-img: var(--mpc-color-secondary);

    /* Tamanho Fonte */
    --mpc-font-size-title-page-divider-img: 2rem;
    --mpc-font-size-subtitle-page-divider-img: 2rem;

    /* Background-Position */
    --mpc-bg-position-page-divider-img: center;
}

/*--------------------------------------------------------------
# Page Divider Img Section
--------------------------------------------------------------*/
.page-divider-img {
    display: flex;
    align-items: center;
    background-size: cover;
    min-height: 30vh;
    padding: 30px;
    background-position: var(--mpc-bg-position-page-divider-img);

    .content {
        display: flex;
        justify-content: center;
        text-align: center;

        h2 {
            color: var(--mpc-color-subtitle-page-divider-img);
            font-family: var(--mpc-font-subtitle-page-divider-img);
            font-size: var(--mpc-font-size-subtitle-page-divider-img);
        }

        span {
            color: var(--mpc-color-title-page-divider-img);
            font-family: var(--mpc-font-title-page-divider-img);
            font-size: var(--mpc-font-size-title-page-divider-img);
        }
    }
}