<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcScrollTopButton  ======= -->
  <section id="scroll-top-button" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente o</h2>
        <p>MPC <span>Scroll Top Button</span></p>
      </div>

      <h5>
        O <code>mpc-scroll-top-button</code> é um componente que gera um botão com a ação de rolar a página para o topo.
        Ele é oculto até que a rolagem da página inicie e, então, é exibido.
      </h5>

      <h5>
        Pode ser usado em qualquer lugar da sua aplicação, mas se quiser utilizar em todas as páginas, é recomendado
        utilizar no arquivo <code>app.component.html</code>
      </h5>

      <h5>
        No arquivo <code>seu-component.html</code>, adicione o seguinte código:
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code>
              &lt;mpc-scroll-top-button icone="bi bi-arrow-up-short"&gt;&lt;/mpc-scroll-top-button&gt;
              </code>
            </pre>
        </div>
      </h5>
    </div>
  </section>
  <!-- ======= MpcScrollTopButton ======= -->

</main>

<mpc-footer></mpc-footer>
