<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcScrollTopButton INÍCIO ======= -->
  <section id="scroll-top-button">
    <div class="container">
      <div class="section-header">
        <h2>experimente o</h2>
        <p>MPC <span>Scroll Top Button</span></p>
      </div>
      <h5>
        <strong>Descrição:</strong> O <code>mpc-scroll-top-button</code> é um botão flutuante para rolar rapidamente ao topo da página.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>tabIndex</strong>: (opcional) Índice de tabulação para acessibilidade.</li>
          <li><strong>ariaLabel</strong>: (opcional) Descrição para acessibilidade.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcScrollTopButtonComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-scroll-top-button [tabIndex]="0" ariaLabel="Voltar ao topo"&gt;&lt;/mpc-scroll-top-button&gt;</code></pre>
      </div>
      <h5>Veja o canto inferior direito da página, onde está o <code>mpc-scroll-top-button</code> e teste o botão.</h5>
      <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
          <mpc-scroll-top-button [tabIndex]="0" ariaLabel="Voltar ao topo"></mpc-scroll-top-button>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= MpcScrollTopButton FIM ======= -->

</main>

<mpc-footer></mpc-footer>
