@if (dadosDetalhesInscricao) {
<div class="comprovante-tela">
  <div class="comprovante-container">
    <div class="comprovante-content">
      <div class="comprovante-body">

        <mpc-section subtitulo="veja abaixo os" titulo="Detalhes da" tituloDestaque="Inscrição">

          @if (dadosDetalhesInscricao.dadosInscricao) {
          <h4 tabindex="0">Dados da Inscrição</h4>

          <div class="row">
            <!-- Campo com botão de copiar o código de inscrição, pode ser alterado -->
            @if (dadosDetalhesInscricao.dadosInscricao.codigoInscricao) {
            <div class="col-md-4 mb-1" tabindex="0"
              [attr.aria-label]="'Código de Inscrição: ' + dadosDetalhesInscricao.dadosInscricao.codigoInscricao">
              <h5>Inscrição</h5>
              <div class="input-group">
                <p>{{ dadosDetalhesInscricao.dadosInscricao.codigoInscricao }}</p>
                <em tabindex="0" aria-label="Copiar código, botão"
                  (click)="copiarCodigo(dadosDetalhesInscricao.dadosInscricao.codigoInscricao)">
                  <i [class]="isCopiado ? 'bi bi-clipboard-check' : 'bi bi-clipboard'"></i>
                </em>
              </div>
            </div>
            }

            <!-- Campo de status da inscricao, pode ser alterado -->
            @if (dadosDetalhesInscricao.dadosInscricao.status) {
            <div class="col-md-4 mb-1" tabindex="0"
              [attr.aria-label]="'Status: ' + getTextoStatusInscricao(dadosDetalhesInscricao.dadosInscricao.status)">
              <h5 class="mb-1">Status</h5>
              <h5>
                <span [class]="'badge mb-1 ' + getBadgeStatusInscricao(dadosDetalhesInscricao.dadosInscricao.status)">
                  {{ getTextoStatusInscricao(dadosDetalhesInscricao.dadosInscricao.status) }}
                </span>
              </h5>
            </div>
            }

            <!-- Campo de data de criação, pode ser alterado -->
            @if (dadosDetalhesInscricao.dadosInscricao.dataInscricao) {
            <div class="col-md-4 mb-1" tabindex="0"
              [attr.aria-label]="'Data da Inscrição: ' + formatarData(dadosDetalhesInscricao.dadosInscricao.dataInscricao)">
              <h5 class="mb-1">Data da Inscrição</h5>
              <p>{{ formatarData(dadosDetalhesInscricao.dadosInscricao.dataInscricao) }}</p>
            </div>
            }

            <hr>
          </div>
          }

          @if (dadosDetalhesInscricao.dadosPessoais) {
          <h4 tabindex="0">Dados Pessoais</h4>

          <div class="row">
            @for (dado of dadosDetalhesInscricao.dadosPessoais; track $index) {
            <div class="col-md-3 mb-1" tabindex="0" [attr.aria-label]="'{{ dado.label }}: ' + dado.valor">
              <h5 class="mb-1">{{ dado.label }}</h5>
              <p>{{ dado.valor }}</p>
            </div>
            }
          </div>

          <hr>
          }

          @if (dadosDetalhesInscricao.dadosPagamento) {
          <h4 tabindex="0">Dados do Pagamento</h4>

          <div class="row">
            @if (dadosDetalhesInscricao.dadosPagamento.formaPagamento) {
            <div class="col-md-3 mb-1" tabindex="0"
              [attr.aria-label]="'Forma de Pagamento: ' + dadosDetalhesInscricao.dadosPagamento.formaPagamento">
              <h5 class="mb-1">Forma de Pagamento</h5>
              <p>{{ dadosDetalhesInscricao.dadosPagamento.formaPagamento }}</p>
            </div>
            }

            @if (dadosDetalhesInscricao.dadosPagamento.valor) {
            <div class="col-md-3 mb-1" tabindex="0"
              [attr.aria-label]="'Valor: ' + formatarValor(dadosDetalhesInscricao.dadosPagamento.valor || 0)">
              <h5 class="mb-1">Valor</h5>
              <p>{{ formatarValor(dadosDetalhesInscricao.dadosPagamento.valor) }}</p>
            </div>
            }

            @if (dadosDetalhesInscricao.dadosPagamento.statusPagamento) {
            <div class="col-md-3 mb-1" tabindex="0"
              [attr.aria-label]="'Status do Pagamento: ' + dadosDetalhesInscricao.dadosPagamento.statusPagamento">
              <h5 class="mb-1">Status do Pagamento</h5>
              <h5>
                <span
                  [class]="'badge mb-1 ' + getBadgeStatusPagamento(dadosDetalhesInscricao.dadosPagamento.statusPagamento)">
                  {{ getTextoStatusPagamento(dadosDetalhesInscricao.dadosPagamento.statusPagamento) }}
                </span>
              </h5>
            </div>
            }

            @if (dadosDetalhesInscricao.dadosPagamento.dataPagamento) {
            <div class="col-md-3 mb-1" tabindex="0"
              [attr.aria-label]="'Data do Pagamento: ' + formatarData(dadosDetalhesInscricao.dadosPagamento.dataPagamento)">
              <h5 class="mb-1">Data do Pagamento</h5>
              <p>{{ formatarData(dadosDetalhesInscricao.dadosPagamento.dataPagamento) }}</p>
            </div>
            }

            <hr>
          </div>
          }

        </mpc-section>

        <!-- Botões -->
        <div class="comprovante-buttons">

          @if (dadosDetalhesInscricao.dadosPagamento.statusPagamento == 'A PAGAR' &&
          dadosDetalhesInscricao.dadosPagamento.formaPagamento != 'Dinheiro') {
          <div class="label-info alert alert-warning text-center mt-2" tabindex="0">
            <i class="bi bi-exclamation-circle float-left"></i>
            <p>Solicite o pix/link para pagamento ou envie o comprovante clicando no
              botão abaixo. </p>
          </div>

          <mpc-button id="btn-whatsapp" texto="Solicitar pelo WhatsApp" icone="bi bi-whatsapp"
            (click)="pedirLinkPagamento()" />
          }

          <mpc-button id="btn-home" (click)="irParaHome()" texto="Ir para Home" icone="bi bi-house" />
        </div>
      </div>

    </div>
  </div>
</div>
}