/* Geral */
button {
  max-width: 30vh;
  min-width: 20vh;
  box-shadow: none !important;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
}

p {
  margin-bottom: 0 !important;
}

.comprovante-tela {
  background-color: white;
  font-family: var(--font-secondary) !important;
  overflow-y: auto;
  margin-top: 70px;

  .comprovante-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;

    .comprovante-content {
      max-width: 1200px;

      .comprovante-body {
        display: flex;
        flex-direction: column;
        padding: 30px;

        .comprovante-image {
          max-height: 40px;
          max-width: 40px;
          margin: 0 auto;
        }

        .comprovante-title {
          font-family: var(--font-title);
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 1rem 0 2rem 0 !important;
        }

        .input-group em {
          color: var(--color-secondary) !important;
          display: block;
          font-size: 18px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .comprovante-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 30px 30px 30px;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 991.98px) {
  .comprovante-tela {
    margin-top: 0;

    .comprovante-container {
      padding: 10px;

      .comprovante-content {
        .comprovante-body {
          padding: 20px;
        }

        .input-group em {
          padding: 0 20px !important;
          height: 30px;
          margin-left: 10px !important;
        }

        .comprovante-buttons {
          padding: 20px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .comprovante-tela {
    .comprovante-container {
      padding: 30px;

      .comprovante-content {
        .comprovante-body {
          .comprovante-image {
            padding: 0;
          }

          .input-group em {
            padding: 0 18px 0 0 !important;
            margin-left: 15px !important;
          }
        }
      }
    }
  }
}