<div class="card-box">
  <div class="card-timeline">
    <div [id]="id" [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="card-evento">

      <div class="card-evento-data">
        <span class="evento-dia">{{ dia }}</span>
        <span class="evento-mes">{{ mes }}</span>
      </div>

      <div class="card-evento-body">
        <h3>{{ titulo }}</h3>

        <h4>{{ subtitulo }}</h4>

        @if (descricao) {
        <p>{{ descricao }}</p>
        }
      </div>
    </div>
  </div>
</div>