@if (options.length > 0) {
<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">{{ required ? label + ' *' : label }}</label>

  <div class="input-group">
    <select [id]="id" (change)="setValue($event.target)" class="form-select form-select-md" [disabled]="disabled"
      [style]="errorMessage ? 'border-color: red' : ''" (focus)="campoTocado = true; isCampoValido()">

      @for (option of options; track $index) {
      <option [selected]="option.selected">
        {{ option.label }}
      </option>
      }

    </select>
  </div>


  @if (errorMessage) {
  <p class="text-danger mt-1"> {{ errorMessage }} </p>
  }

</div>
}
