<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center header-desktop"
  [ngClass]="showNavbar ? 'd-flex' : 'd-none'">
  <div class="container d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0" (click)="setAbaAtiva(0)">
      <img src="/img/logo.png">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <div *ngFor="let aba of abas; let i = index">
          <li *ngIf="aba.ativo && !aba.subMenus">
            <a (click)="setAbaAtiva(i)" [routerLink]="aba.rota" [ngClass]="aba.focado ? 'active show' : ''">
              {{ aba.titulo }}
            </a>
          </li>
          <li *ngIf="aba.ativo && aba.subMenus" class="nav-item dropdown">
            <a (click)="setAbaAtiva(i)" class="nav-link dropdown-toggle" [routerLink]="aba.rota" id="navbarDropdown"
              data-bs-toggle="navbarDropdown">
              {{ aba.titulo }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a *ngFor="let sub of aba.subMenus" class="dropdown-item" [routerLink]="sub.rota">
                {{ sub.titulo }}
              </a>
            </div>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
<!-- ======= End Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center header-mobile"
  [ngClass]="showNavbar ? 'd-flex' : 'd-none'">
  <div class="container d-flex align-items-center justify-content-center" data-backdrop="static">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <img src="/img/logo.png">
    </a>

    <button type="button" (click)="isClicado = !isClicado" class="mobile-nav-toggle mobile-nav-show"
      [ngClass]="!isClicado ? 'bi bi-list' : 'bi bi-x'" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"></button>

    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header mb-5"></div>
      <div class="offcanvas-body">
        <ul>
          <div *ngFor="let aba of abas; let i = index">
            <li *ngIf="aba.ativo">
              <a (click)="setAbaAtiva(i)" [routerLink]="aba.rota" [ngClass]="aba.focado ? 'active show' : ''">
                <i [class]="aba.icone"></i> {{ aba.titulo }}
              </a>
            </li>
          </div>
        </ul>
      </div>
      <div class="offcanvas-footer text-center">
        <hr>
        <h4 class="mb-3">Siga-nos</h4>
        <div class="social-links">
          <a href="https://www.instagram.com/palmasmetodista/" target="_blank" class="instagram"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/@palmasmetodista" target="_blank" class="youtube"><i
              class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>

  </div>
</header>
