<div [tabindex]="tabIndex()" [attr.aria-label]="ariaLabel()" class="form-group">
  <label class="form-label">CPF/CNPJ{{ required() ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id()" type="text" class="form-control" (input)="setValue($event)" (blur)="onTouched()" #input
      [required]="required()" [style]="errorMessage ? 'border-color: red' : ''" [mask]="mascara" [disabled]="disabled()" [readOnly]="readonly()"
      (focus)="campoTocado = true; isCampoValido()" />

    @if (campoTocado) {
    <div class="validation-icon">
      @if (!errorMessage) { <i class="bi bi-check-circle-fill valid-icon"></i> }
      @else { <i class="bi bi-x-circle-fill invalid-icon"></i> }
    </div>
    }

  </div>

  @if (errorMessage) {
  <div>
    <p class="text-danger mt-1"> {{ errorMessage }} </p>
  </div>
  }

</div>
