<div [tabindex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">DDD + Telefone {{ required ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id" type="tel" class="form-control col-md-4" [value]="value" (input)="setValue($event)"
      (blur)="onTouched()" [required]="required" (focus)="campoTocado = true; isCampoValido()"
      [style]="errorMessage ? 'border-color: red' : ''" [mask]="mascara" />

    <div *ngIf="campoTocado" class="validation-icon">
      <i class="bi bi-check-circle-fill valid-icon" *ngIf="!errorMessage"></i>
      <i class="bi bi-x-circle-fill invalid-icon" *ngIf="errorMessage"></i>
    </div>

  </div>

  <div *ngIf="errorMessage">
    <p class="text-danger mt-1"> {{ errorMessage }} </p>
  </div>
</div>
