<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <img src="assets/img/logo.png" class="logo">
      <h1 class="title">Mpc Components</h1>
      <p class="subtitle mt-3">Bem-vindo! Faça login para continuar.</p>
    </div>

    <form class="login-form" [formGroup]="form">
      <div class="form-group">
        <mpc-input-email [id]="'email'" [tabIndex]="1" [ariaLabel]="'Digite seu e-mail'" [required]="true"
          formControlName="email">
        </mpc-input-email>
      </div>

      <div class="form-group">
        <mpc-input-senha [id]="'password'" label="Senha" [tabIndex]="2" [ariaLabel]="'Digite sua senha'"
          [required]="true" formControlName="senha">
        </mpc-input-senha>
      </div>

      <div class="form-actions">
        <mpc-button (click)="login()" [style.background-color]="'var(--mpc-color-primary)'" [style.color]="'white'"
          icone="bi bi-box-arrow-in-right" posicaoIcone="direita" texto="Entrar" [disabled]="form.invalid" />

        <mpc-button (click)="login()" texto="Cadastrar-se" />
      </div>

    </form>
  </div>
</div>