<!-- ======= Footer ======= -->
<footer id="footer" class="footer px-4">

  <div class="container">

    <h2 class="d-flex justify-content-center mb-5">Footer</h2>

    <div class="col-lg-12 col-md-12 d-flex align-items-center justify-content-center mb-5">
      <img src="/img/logo.png">
    </div>

    <div class="row gy-3">

      <div class="col-lg-3 footer-links d-flex">
        <i class="bi bi-geo-alt icon me-2"></i>
        <div>
          <h4>Endereço</h4>
          <p>
            Palmas - Tocantins<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 footer-links d-flex">
        <i class="bi bi-telephone icon me-2"></i>
        <div>
          <h4>Contato</h4>
          <p>
            <strong>Matheus Pimentel:</strong> (63) 9 9201-4337<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 footer-links d-flex">
        <i class="bi bi-bank icon me-2"></i>
        <div>
          <h4>Contribua comigo</h4>
          <p>
            <strong>Pix:</strong> 048.861.261-62<br>
            <!-- <strong>Agência:</strong> 3962-4<br>
            <strong>Conta (BB):</strong> 53143-0<br> -->
          </p>
        </div>
      </div>

      <div class="col-lg-3 footer-links d-flex">
        <i class="bi bi-person-fill icon me-2"></i>
        <div>
          <h4>Me siga</h4>
          <div class="social-links d-flex">
            <a href="https://www.instagram.com/palmasmetodista/" target="_blank" class="instagram"><i
                class="bi bi-instagram"></i></a>
            <!-- <a href="https://www.youtube.com/@palmasmetodista" target="_blank" class="youtube"><i
                class="bi bi-youtube"></i></a> -->
          </div>
        </div>
      </div>

      <hr class="py-4">

      <div class="div-social-links">
        <div class="social-links-dev text-center">
          <a href="https://matheuspcouto.github.io/" target="_blank"><i class="bi bi-person"></i></a>
          <a href="https://github.com/matheuspcouto" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.instagram.com/matheuspcouto/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/matheuspcouto/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <br><br>
          <p>Desenvolvido por Matheus Pimentel © - {{ anoAtual }}</p>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- ======= End Footer ======= -->
