@if (exibirErro()) {
<div class="error-screen" tabindex="0" aria-label="Tela de Erro">
  <div class="error-container">
    <div class="error-content">
      <div class="error-body">
        <!-- Imagem de erro -->
        <img [src]="imagemErro()" class="error-image" [alt]="'Ícone de ' + erro()?.titulo">

        <!-- Título -->
        <h2 class="error-title" tabindex="0" [attr.aria-label]="erro()?.titulo">{{ erro()?.titulo }}</h2>

        <!-- Descrição -->
        <p class="error-description" tabindex="0" [attr.aria-label]="erro()?.mensagem">{{ erro()?.mensagem }}</p>
      </div>

      <!-- Botões -->
      <div class="error-footer">
        <!-- Botão Voltar -->
        <mpc-button corFundo="#0E2749" corTexto="#fff" (click)="voltar()" texto="OK">
        </mpc-button>

        <!-- Botão Copiar Mensagem -->
        <mpc-button corFundo="#fff" corTexto="#000" (click)="copiarMensagem()"
          [icone]="isCopiado ? 'bi bi-clipboard-check' : 'bi bi-clipboard'" texto="Copiar">
        </mpc-button>
      </div>
    </div>
  </div>
</div>
}