/*--------------------------------------------------------------
# Page Header Home Section
--------------------------------------------------------------*/
.page-header-home {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 160px 0 60px 0;
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/img/home/mountain.jpg);

  .page-header-content {
    order: 2 !important;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: var(--font-titulo) !important;
      font-size: 64px;
      font-weight: 500;
      color: var(--branco) !important;

      span {
        color: var(--cor-secundaria);
        font-size: clamp(1em, 1em + 1vw, 3em);
      }
    }

    @media (max-width: 640px) {
      h2 {
        font-size: 30px;
      }
    }

    p {
      color: var(--cor-terciaria);
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    @media (max-width: 640px) {
      p {
        font-size: 18px;
      }
    }

    a {
      color: var(--branco);

      &:hover {
        color: var(--cor-secundaria);
      }
    }
  }

  @media screen and (max-width: 640px) {
    .page-header-content {
      text-align: center;
      align-items: center;
    }

  }

  .img-page-header {
    width: 100%;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;

  h5 {
    font-weight: 400;
    color: var(--cor-terciaria);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--cor-terciaria);
      text-transform: uppercase;
      font-family: var(--font-padrao);
    }

    p {
      margin: 0;
      font-size: 48px;
      font-weight: 400;
      font-family: var(--fonte-padrao);

      span {
        color: var(--cor-secundaria);
      }
    }
  }
}

/*--------------------------------------------------------------
# descricao Section
--------------------------------------------------------------*/
.descricao {
  padding-bottom: 30px;

  .item-descricao {
    padding: 30px;
    width: 100%;

    i {
      display: block;
      font-size: 35px;
      color: var(--cor-primaria);
      float: left;
    }

    span {
      font-size: 30px;
      display: block;
      font-weight: 600;
      margin-left: 60px;
      font-family: var(--font-secundaria);
      color: var(--cor-primaria);
    }

    h5 {
      padding: 15px 0 0 0;
      margin: 0 0 0 60px;
      text-align: left;
      color: var(--cor-terciaria);
    }
  }
}

/*--------------------------------------------------------------
# Capa Meio Section
--------------------------------------------------------------*/
.capa-meio {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/img/home/mountain.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  @media (min-width: 992px) {
    background-attachment: fixed;
  }

  .texto-capa {
    padding: 30px;
    width: 100%;
    text-align: center;

    h2,
    span {
      font-family: var(--font-titulo) !important;
      font-size: 2rem;
    }

    span {
      color: var(--cor-primaria);
    }

    h2 {
      color: var(--branco);
    }
  }
}

/*--------------------------------------------------------------
# Contato Section
--------------------------------------------------------------*/
.contato {
  background-color: var(--branco);

  iframe {
    border-radius: 5px;
    width: 100%;
    height: 350px;
  }

  .info-item {
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      font-size: 24px;
      color: var(--branco);
      background: var(--cor-primaria);
      border-radius: 50%;
      margin-right: 15px;
    }

    h3 {
      font-size: 20px;
      color: var(--cor-primaria);
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      padding: 0;
      margin: 0;
      line-height: 24px;
      font-size: 14px;
    }

    .social-links {
      a {
        font-size: 24px;
        display: inline-block;
        color: var(--cor-terciaria);
        margin: 4px 6px 0 0;
        transition: 0.3s;

        &:hover {
          color: var(--cor-primaria);
        }
      }
    }
  }
}
