<navbar></navbar>

<!-- ======= Capa Section ======= -->
<section id="capa" class="capa d-flex align-items-center bg-image">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 class="mb-5">My Components</h2>
        <div class="d-flex">
          <a routerLink="/inscricao" class="btn-faca-inscricao bg-color-primary text-color-white">Saiba mais
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 text-center text-lg-start">
        <img src="/img/logo.png" class="img-fluid rounded-circle">
      </div>
    </div>
  </div>
</section>
<!-- ======= End Capa Section ======= -->

<main id="main">

  <!-- ======= Descricao Section ======= -->
  <section id="descricao" class="descricao">
    <div class="container">

      <div class="section-header">
        <h2>Conheça o</h2>
        <p><span>My</span> Components </p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-4 d-md-flex align-items-md-stretch">
          <div class="item-descricao">
            <i class="bi bi-chat-fill"></i>
            <span>O que é ?</span>
            <h5 class="text-muted"> Um repositório de componentes Angular responsíveis e
              personalizáveis para
              aplicações web. Esta página inteira foi feita com esses componentes, como: navbar, footer, buttons, cards,
              forms e mais :) </h5>
          </div>
        </div>

        <div class="col-lg-4 d-md-flex align-items-md-stretch">
          <div class="item-descricao">
            <i class="bi bi-question-circle-fill"></i>
            <span>Como usar ?</span>
            <h5 class="text-muted"> Baixe o Angular (v19) e acesse este
              <a href="https://github.com/matheuspcouto/MyComponents" target="_blank">repositório</a>,
              baixe o código para sua máquina
              e é só procurar
              o componente desejado na pasta do projeto.
            </h5>
          </div>
        </div>

        <div class="col-lg-4 d-md-flex align-items-md-stretch">
          <div class="item-descricao">
            <i class="bi bi-coin"></i>
            <span>Quanto custa ?</span>
            <h5 class="text-muted">NADA! <br> o repositório é open source!</h5>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- ======= descricao Section ======= -->

  <!-- ======= Modais, Loader & Notification Toast Section ======= -->
  <section id="descricao" class="descricao">
    <div class="container">

      <div class="section-header">
        <h2>esta seção é sobre</h2>
        <p><span>Modais</span>, Loader & Notificações </p>
      </div>

      <div class="row justify-content-center align-items-center">

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-success" (click)="abrirModalSucesso()" tabindex="0">
            <i class="bi bi-check-all me-2"></i>
            <span>Modal de Sucesso</span>
          </button>
        </div>

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-warning" (click)="abrirModalAviso()" tabindex="0">
            <i class="bi bi-exclamation-triangle me-2"></i>
            <span>Modal de Aviso</span>
          </button>
        </div>

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-danger" (click)="abrirModalErro()" tabindex="0">
            <i class="bi bi-bug me-2"></i>
            <span>Modal de Erro</span>
          </button>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-outline-success" (click)="abrirModalConfirmacao()" tabindex="0">
            <i class="bi bi-check-lg me-2"></i>
            <span>Modal de Confirmação</span>
          </button>
        </div>

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-outline-secondary" (click)="abrirModalComprovante()" tabindex="0">
            <i class="bi bi-body-text me-2"></i>
            <span>Modal de Comprovante</span>
          </button>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-outline-secondary" (click)="abrirLoading()" tabindex="0">
            <i class="bi bi-arrow-clockwise me-2"></i>
            <span>Loader</span>
          </button>
        </div>

        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <button class="btn btn-outline-secondary" (click)="mostrarNotificacao()" tabindex="0">
            <i class="bi bi-info-circle me-2"></i>
            <span>Notificação</span>
          </button>
        </div>

      </div>

    </div>

  </section>
  <!-- ======= Modais, Loader & Notification Toast Section ======= -->

  <!-- ======= Capa Meio Section ======= -->
  <section id="capa-meio" class="capa-meio">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-12 col-md-12 justify-content-center align-items-center">
          <div class="texto-capa text-center w-100 h-100">
            <h2>Divisor de <span>Página</span>.
            </h2>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- ======= Capa Meio Section ======= -->

  <!-- ======= Contato Section ======= -->
  <section id="contato" class="contato">
    <div class="container">

      <div class="section-header">
        <h2>seção para</h2>
        <p>Informações de <span>Contato</span></p>
      </div>

      <div class="mb-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31416.51104492992!2d-48.342735231809975!3d-10.175463146480574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1740512106198!5m2!1spt-BR!2sbr"
          style="border-radius: 5px; width: 100%; height: 350px;" allowfullscreen frameBorder="0"></iframe>
      </div>

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Endereço</h3>
              <p>Palmas, Tocantins</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Telefone</h3>
              <p>(63) 9 9201-4337</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- ======= End Contato Section ======= -->

</main>

<modal #modal></modal>
<comprovante #comprovante></comprovante>
