/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/

h5 {
  font-weight: 400;
  color: var(--mpc-color-tertiary);
  text-align: center;
  padding-bottom: 2rem;
  font-style: italic;
}

pre {
  background-color: var(--mpc-color-primary);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  code {
    width: 100%;
    white-space: pre-line;
  }
}

/*--------------------------------------------------------------
# Cards Verticais e Horizontais
--------------------------------------------------------------*/
.cards-verticais-horizontais {
  * {
    /* Fontes */
    --mpc-font-title-card: var(--font-subtitle);
    --mpc-font-subtitle-card: var(--font-subtitle);
    --mpc-font-description-card: var(--font-default);

    h3 {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 0.5rem;
      font-family: var(--font-subtitle);
      color: var(--color-secondary);
    }

    .barra-titulo {
      width: 100px;
      height: 3px;
      margin: 10px 0;
      border-radius: 5px;
      background: var(--color-primary);
    }

    h4 {
      margin-bottom: 1.5rem;
      font-weight: 700;
      font-size: 20px;
      color: var(--color-primary);
      font-family: var(--font-subtitle);
    }

    p {
      color: var(--color-primary);
      font-style: italic;
      font-size: 15px;
      line-height: 26px;
      font-family: var(--font-default);
      margin-bottom: 0;
    }
  }

  mpc-card#card-1 {
    /* Cores */
    --mpc-bg-card: white;
    --mpc-border-color-card: var(--color-primary);
    --mpc-bg-links-card: var(--color-primary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: var(--color-primary);
    --mpc-color-text-subtitle-card: var(--color-primary);
    --mpc-color-text-description-card: var(--color-primary);
    --mpc-color-bar-card: var(--color-primary);
  }

  mpc-card#card-2 {
    /* Cores */
    --mpc-bg-card: white;
    --mpc-border-color-card: var(--color-secondary);
    --mpc-bg-links-card: var(--color-secondary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: var(--color-primary);
    --mpc-color-text-subtitle-card: var(--color-primary);
    --mpc-color-text-description-card: var(--color-primary);
    --mpc-color-bar-card: var(--color-primary);
  }

  mpc-card#card-3 {
    /* Cores */
    --mpc-bg-card: var(--color-primary);
    --mpc-border-color-card: var(--color-primary);
    --mpc-bg-links-card: var(--color-secondary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: white;
    --mpc-color-text-subtitle-card: white;
    --mpc-color-text-description-card: white;
    --mpc-color-bar-card: white;
  }

  mpc-card#card-4 {
    /* Cores */
    --mpc-bg-card: white;
    --mpc-border-color-card: var(--color-primary);
    --mpc-bg-links-card: var(--color-primary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: var(--color-primary);
    --mpc-color-text-subtitle-card: var(--color-primary);
    --mpc-color-text-description-card: var(--color-primary);
    --mpc-color-bar-card: var(--color-primary);
  }

  mpc-card#card-5 {
    /* Cores */
    --mpc-bg-card: white;
    --mpc-border-color-card: var(--color-secondary);
    --mpc-bg-links-card: var(--color-secondary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: var(--color-primary);
    --mpc-color-text-subtitle-card: var(--color-primary);
    --mpc-color-text-description-card: var(--color-primary);
    --mpc-color-bar-card: var(--color-primary);
  }

  mpc-card#card-6 {
    /* Cores */
    --mpc-bg-card: var(--color-primary);
    --mpc-border-color-card: var(--color-primary);
    --mpc-bg-links-card: var(--color-secondary);
    --mpc-color-links-card: white;
    --mpc-color-text-title-card: white;
    --mpc-color-text-subtitle-card: white;
    --mpc-color-text-description-card: white;
    --mpc-color-bar-card: white;
  }
}

/*--------------------------------------------------------------
# Cards com Imagem de Fundo
--------------------------------------------------------------*/
.cards-background-img {
  * {
    /* Fontes */
    --mpc-font-title-card-bg-img: var(--font-subtitle);
    --mpc-font-subtitle-card-bg-img: var(--font-subtitle);
    --mpc-font-description-card-bg-img: var(--font-default);
  }

  mpc-card-background-img#card-bg-1 {
    /* Cores */
    --mpc-color-text-card-bg-img: white;
    --mpc-color-bar-card-bg-img: var(--color-secondary);
  }

  mpc-card-background-img#card-bg-2 {
    /* Cores */
    --mpc-color-text-card-bg-img: var(--color-secondary);
    --mpc-color-bar-card-bg-img: white;
  }
}

/*--------------------------------------------------------------
# Cards Menu
--------------------------------------------------------------*/
.cards-menu {
  * {
    /* Fontes */
    --mpc-font-title-card-menu: var(--font-subtitle);
    --mpc-font-description-card-menu: var(--font-default);
  }

  mpc-card-menu#card-menu-1 {
    /* Cores */
    --mpc-color-bg-card-menu: white;
    --mpc-color-title-card-menu: var(--color-primary);
    --mpc-color-description-card-menu: var(--color-tertiary);
    --mpc-color-bg-icone-card-menu: var(--color-primary);
    --mpc-color-text-icone-card-menu: white;
  }

  mpc-card-menu#card-menu-2 {
    /* Cores */
    --mpc-color-bg-card-menu: white;
    --mpc-color-title-card-menu: var(--color-secondary);
    --mpc-color-description-card-menu: var(--color-secondary);
    --mpc-color-bg-icone-card-menu: var(--color-secondary);
    --mpc-color-text-icone-card-menu: white;
  }

  mpc-card-menu#card-menu-3 {
    /* Cores */
    --mpc-color-bg-card-menu: var(--color-primary);
    --mpc-color-title-card-menu: white;
    --mpc-color-description-card-menu: white;
    --mpc-color-bg-icone-card-menu: white;
    --mpc-color-text-icone-card-menu: var(--color-primary);
  }
}

/*--------------------------------------------------------------
# Cards Evento
--------------------------------------------------------------*/
.cards-evento {
  --mpc-font-title-card-evento: var(--font-subtitle);
  --mpc-font-subtitle-card-evento: var(--font-subtitle);
  --mpc-font-description-card-evento: var(--font-default);

  --mpc-font-text-data-card-evento: var(--font-subtitle);

  /* Timeline */
  --mpc-color-border-timeline-card-evento: var(--color-primary);
  --mpc-color-bg-timeline-card-evento: white;

  /* Data */
  --mpc-color-bg-data-card-evento: var(--color-primary);
  --mpc-color-text-data-card-evento: white;

  /* Card */
  --mpc-color-bg-card-evento: white;
  --mpc-color-title-card-evento: var(--color-primary);
  --mpc-color-subtitle-card-evento: var(--color-primary);
  --mpc-color-description-card-evento: var(--color-tertiary);

}