<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">{{ required ? label + ' *' : label }}</label>
  <input [id]="id" type="date" class="form-control" [value]="value" (input)="setValue($event)" [max]="maxDate"
    [min]="minDate" (blur)="onBlur()" (focus)="onFocus()" [required]="required"
    [disabled]="disabled" [readOnly]="readonly" [style]="errorMessage ? 'border-color: red' : ''" />

  @if (errorMessage) {
  <p class="text-danger mt-1"> {{ errorMessage }} </p>
  }
</div>
