<form [formGroup]="formGroup">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-3">
      <div class="input-group">
        <label class="form-label">Forma de Pagamento *</label>
        <div class="input-group">
          <select class="form-select form-select-md" formControlName="formaPagamento"
            [style]="formGroup.controls['formaPagamento'].errors && formGroup.controls['formaPagamento'].touched ? 'border-color: red' : ''">
            <option *ngFor="let pag of formasPagamento; let i = index" [value]="pag">
              {{ pag }}
            </option>
          </select>
        </div>

        <div
          *ngIf="formGroup.controls['formaPagamento'].errors && formGroup.controls['formaPagamento'].touched">
          <p *ngIf="formGroup.controls['formaPagamento'].errors['formatoInvalido']" class="text-danger">
            Formato inválido
          </p>
          <p *ngIf="formGroup.controls['formaPagamento'].errors['required']" class="text-danger"> Campo
            obrigatório </p>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row justify-content-between align-items-center mt-5">
  <button class="btn btn-outline-secondary" (click)="etapaAnterior()">
    <i class="bi bi-arrow-left float-left"></i>
    Voltar
  </button>

  <button class="btn btn-success" (click)="finalizarInscricao()" [disabled]="formGroup.invalid">
    Inscrever-se <i class="bi bi-send-fill float-right"></i>
  </button>
</div>
