/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;
  margin-top: 70px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    font-weight: 400;
    color: var(--mpc-color-tertiary);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--mpc-color-tertiary);
      text-transform: uppercase;
      font-family: var(--mpc-font-default);
    }

    p {
      margin: 0;
      font-size: clamp(2rem, 2vw, 2rem);
      font-weight: 400;
      font-family: var(--mpc-font-default);

      span {
        color: var(--mpc-color-secondary);
      }
    }
  }
}

/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container {
  max-width: 600px;
  font-family: var(--mpc-font-default);
  font-weight: 600;
  padding: 2rem;
}

/* Mobile */
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding: 30px;
  }
}