/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container {
  max-width: 600px;
  font-family: var(--font-default);
  font-weight: 600;
  padding: 2rem;

  form {
    /* Inputs */
    .form-input {
      --mpc-color-text: var(--color-primary);
      --mpc-color-border: var(--color-tertiary);
      --mpc-color-border-success: var(--color-secondary);
      --mpc-font-text: var(--font-subtitle);
    }
  }
}

/* Mobile */
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding: 30px;
  }
}