<mpc-navbar></mpc-navbar>

<main>

  <div *ngIf="!inscricoesHomensEncerradas || !inscricoesMulheresEncerradas">

    <section id="inscricao" class="inscricao">

      <div class="section-header">
        <h2>preencha seus dados abaixo no</h2>
        <p>Formulário de <span> Inscrição </span> </p>
      </div>

      <div class="container">

        <mpc-form-progress-bar [etapa]="etapa"></mpc-form-progress-bar>

        <div class="alert alert-warning text-center mb-1"
          *ngIf="inscricoesHomensEncerradas && !inscricoesMulheresEncerradas">
          <i class="bi bi-exclamation-circle float-left"></i>
          Atenção! <br> As inscrições para homens estão encerradas. Somente inscrições para mulheres serão realizadas.
        </div>

        <div class="alert alert-warning text-center mb-1"
          *ngIf="!inscricoesHomensEncerradas && inscricoesMulheresEncerradas">
          <i class="bi bi-exclamation-circle float-left"></i>
          Atenção! <br> As inscrições para mulheres estão encerradas. Somente inscrições para homens serão realizadas.
        </div>

        <div class="row">
          <!-- Etapa 1: Dados Pessoais -->
          <div *ngIf="etapa === 1">
            <primeira-etapa (dados)="getDadosPrimeiraEtapa($event)"
              [inscricoesHomensEncerradas]="inscricoesHomensEncerradas"
              [inscricoesMulheresEncerradas]="inscricoesMulheresEncerradas"></primeira-etapa>
          </div>

          <!-- Etapa 2: Contatos -->
          <div *ngIf="etapa === 2">
            <segunda-etapa (dados)="getDadosSegundaEtapa($event)"></segunda-etapa>
          </div>

          <!-- Step 3: Pagamento -->
          <div *ngIf="etapa === 3">
            <terceira-etapa (dados)="getDadosTerceiraEtapa($event)"></terceira-etapa>
          </div>

        </div>
      </div>
    </section>
  </div>

  <!-- ======= Inscrições Encerradas Section ======= -->
  <section id="section-inscricoes-encerradas" class="section-inscricoes-encerradas" *ngIf="inscricoesHomensEncerradas && inscricoesMulheresEncerradas">
    <div class="container">

      <div class="section-header">
        <div class="div-img-section-inscricoes-encerradas">
          <img src="img/modal/atencao.png">
        </div>

        <p>Inscrições <span>Encerradas</span> !</p>
      </div>

      <p>Infelizmente, as inscrições para este evento foram encerradas, mas não deixe de acompanhar nossas programações
        <br>
        pelo instagram da igreja: <a href="https://www.instagram.com/palmasmetodista/" target="_blank">
          &#64;palmasmetodista </a>
      </p>

    </div>
  </section>
  <!-- ======= End Inscriçoes Encerradas Section ======= -->

</main>

<mpc-modal #modalErro></mpc-modal>
<mpc-modal #modalSucesso></mpc-modal>
<mpc-comprovante [comprovante]="dadosComprovante" #comprovante></mpc-comprovante>
