/*--------------------------------------------------------------
# Page Header Home Section
--------------------------------------------------------------*/
.page-header-home {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 160px 0 60px 0;
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/img/home/mountain.jpg);

  .page-header-content {
    order: 2 !important;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn-home {
      background-color: white !important;
      color: var(--mpc-color-primary) !important;
    }

    h2 {
      font-family: var(--mpc-font-title) !important;
      font-size: 64px;
      font-weight: 500;
      color: white !important;

      span {
        color: var(--mpc-color-secondary);
        font-size: clamp(1em, 1em + 1vw, 3em);
      }
    }

    @media (max-width: 640px) {
      h2 {
        font-size: 30px;
      }
    }

    p {
      color: var(--mpc-color-tertiary);
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    @media (max-width: 640px) {
      p {
        font-size: 18px;
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: var(--mpc-color-secondary);
      }
    }
  }

  @media screen and (max-width: 640px) {
    .page-header-content {
      text-align: center;
      align-items: center;
    }

  }

  .img-page-header {
    width: 100%;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 50px 0;

  h5 {
    font-weight: 400;
    color: var(--mpc-color-tertiary);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--mpc-color-tertiary);
      text-transform: uppercase;
      font-family: var(--mpc-font-default);
    }

    p {
      margin: 0;
      font-size: 48px;
      font-weight: 400;
      font-family: var(--mpc-font-default);

      span {
        color: var(--mpc-color-secondary);
      }
    }
  }
}

/*--------------------------------------------------------------
# descricao Section
--------------------------------------------------------------*/
.descricao {
  padding-bottom: 30px;

  .item-descricao {
    padding: 30px;
    width: 100%;

    i {
      display: block;
      font-size: 35px;
      color: var(--mpc-color-primary);
      float: left;
    }

    span {
      font-size: 30px;
      display: block;
      font-weight: 600;
      margin-left: 60px;
      font-family: var(--mpc-font-subtitle);
      color: var(--mpc-color-primary);
    }

    h5 {
      padding: 15px 0 0 0;
      margin: 0 0 0 60px;
      text-align: left;
      color: var(--mpc-color-tertiary);
    }
  }
}

/*--------------------------------------------------------------
# Page Divider Img Section
--------------------------------------------------------------*/
#page-divider-img {
  /* Cores */
  --mpc-color-title-page-divider-img: white;
  --mpc-color-subtitle-page-divider-img: var(--color-secondary);

  /* Fontes */
  --mpc-font-title-page-divider-img: var(--font-title);
  --mpc-font-subtitle-page-divider-img: var(--font-title);

  /* Imagem de fundo */
  --mpc-img-background-page-divider: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/img/home/mountain.jpg');
}

/*--------------------------------------------------------------
# Contato Section
--------------------------------------------------------------*/
.contato {
  background-color: white;

  iframe {
    border-radius: 5px;
    width: 100%;
    height: 350px;
  }

  .cards-menu {
    /* Cores */
    --mpc-color-bg-card-menu: white;
    --mpc-color-title-card-menu: var(--color-primary);
    --mpc-color-description-card-menu: var(--color-primary);
    --mpc-color-bg-icone-card-menu: var(--color-primary);
    --mpc-color-text-icone-card-menu: white;

    /* Fontes */
    --mpc-font-title-card-menu: var(--font-subtitle);
    --mpc-font-description-card-menu: var(--font-default);
  }
}