<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">E-mail {{ required ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id" type="email" class="form-control" [value]="value" (input)="setValue($event)"
      [required]="required" [disabled]="disabled" [readOnly]="readonly"
      [style]="errorMessage ? 'border-color: red' : ''" (focus)="onFocus()" />

    @if (campoTocado) {
    <div class="validation-icon">
      @if (!errorMessage) { <i class="bi bi-check-circle-fill valid-icon"></i> }
      @else { <i class="bi bi-x-circle-fill invalid-icon"></i> }
    </div>
    }
  </div>

  @if (errorMessage) {
  <p class="text-danger mt-1"> {{ errorMessage }} </p>
  }
</div>
