<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">Telefone {{ required ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id" type="tel" class="form-control col-md-4" [value]="valorFormatado" (input)="setValue($event)"
      [required]="required" (focus)="onFocus()" [disabled]="disabled" [readOnly]="readonly"
      [style.border-color]="errorMessage ? 'red' : null" [attr.maxLength]="15" />

    <div class="validation-icon" [style.visibility]="campoTocado ? 'visible' : 'hidden'">
      <i [class]="errorMessage ? 'bi bi-x-circle-fill invalid-icon' : 'bi bi-check-circle-fill valid-icon'"></i>
    </div>

  </div>

  <p class="text-danger mt-1" [style.visibility]="errorMessage ? 'visible' : 'hidden'"> {{ errorMessage }} </p>

</div>