/* Geral */
button {
  max-width: 30vh;
  min-width: 20vh;
  box-shadow: none !important;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
}

p {
  margin-bottom: 0 !important;
}

.modal {
  display: flex;
  z-index: 9999;
  backdrop-filter: blur(5px) brightness(0.3);
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  font-family: var(--font-secundaria) !important;

  .tela-inteira {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .modal-content {
      background-color: white;
      overflow: hidden;

      .modal-body {
        display: flex;
        flex-direction: column;

        .modal-image {
          max-height: 40px;
          max-width: 40px;
          margin: 0 auto;
        }

        .modal-title {
          font-family: var(--font-titulo);
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 1rem 0 2rem 0 !important;
        }

        .input-group em {
          color: var(--cor-secundaria) !important;
          display: block;
          font-size: 18px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .modal-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .modal-content {
    padding: 10px;
    min-height: 100vh;

    .input-group em {
      padding: 0 20px !important;
      height: 30px;
      margin-left: 10px !important;
    }

    .modal-buttons {
      margin-bottom: 2rem;
    }
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  .tela-inteira {
    padding: 30px;

    .modal-content {
      padding: 30px;
      border-radius: 10px;
      max-width: 65%;
      min-height: 90vh;

      .modal-image {
        padding: 0;
      }

      .input-group em {
        padding: 0 18px 0 0 !important;
        margin-left: 15px !important;
      }
    }
  }
}
