@if (exibir && comprovante) {
<div class="modal">
  <div class="tela-inteira">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Imagem, pode ser alterada -->
        <img src="assets/img/logo.png" class="modal-image">

        <!-- Título -->
        <h2 class="modal-title" tabindex="0">{{ comprovante.titulo }}</h2>

        @if (dadosInscricao) {
        <h4 tabindex="0">Dados da Inscrição</h4>

        <div class="row">
          <!-- Campo com botão de copiar o código de inscrição, pode ser alterado -->
          @if (dadosInscricao.codigoInscricao) {
          <div class="col-md-4 mb-1" tabindex="0"
            [attr.aria-label]="'Código de Inscrição: ' + dadosInscricao.codigoInscricao">
            <h5>Inscrição</h5>
            <div class="input-group">
              <p>{{ dadosInscricao.codigoInscricao }}</p>
              <em tabindex="0" aria-label="Copiar código, botão" (click)="copiarCodigo(dadosInscricao.codigoInscricao)">
                <i [class]="isCopiado ? 'bi bi-clipboard-check' : 'bi bi-clipboard'"></i>
              </em>
            </div>
          </div>
          }

          <!-- Campo de status da inscricao, pode ser alterado -->
          @if (dadosInscricao.status) {
          <div class="col-md-4 mb-1" tabindex="0"
            [attr.aria-label]="'Status: ' + getTextoStatusInscricao(dadosInscricao.status)">
            <h5 class="mb-1">Status</h5>
            <h5>
              <span [class]="'badge mb-1' + getBadgeStatusInscricao(dadosInscricao.status)">
                {{ getTextoStatusInscricao(dadosInscricao.status) }}
              </span>
            </h5>
          </div>
          }

          <!-- Campo de data de criação, pode ser alterado -->
          @if (dadosInscricao.dataInscricao) {
          <div class="col-md-4 mb-1" tabindex="0"
            [attr.aria-label]="'Data da Inscrição: ' + formatarData(dadosInscricao.dataInscricao)">
            <h5 class="mb-1">Data da Inscrição</h5>
            <p>{{ formatarData(dadosInscricao.dataInscricao) }}</p>
          </div>
          }

          <hr>
        </div>
        }

        @if (dadosPessoais) {
        <h4 tabindex="0">Dados Pessoais</h4>

        <div class="row">
          @for (dado of dadosPessoais; track $index) {
          <div class="col-md-3 mb-1" tabindex="0" [attr.aria-label]="'{{ dado.label }}: ' + dado.valor">
            <h5 class="mb-1">{{ dado.label }}</h5>
            <p>{{ dado.valor }}</p>
          </div>
          }
        </div>

        <hr>
        }

        @if (dadosPagamento) {
        <h4 tabindex="0">Dados do Pagamento</h4>

        <div class="row">
          @if (dadosPagamento.formaPagamento) {
          <div class="col-md-3 mb-1" tabindex="0"
            [attr.aria-label]="'Forma de Pagamento: ' + dadosPagamento.formaPagamento">
            <h5 class="mb-1">Forma de Pagamento</h5>
            <p>{{ dadosPagamento.formaPagamento }}</p>
          </div>
          }

          @if (dadosPagamento.valor) {
          <div class="col-md-3 mb-1" tabindex="0" [attr.aria-label]="'Valor: ' + formatarValor(dadosPagamento.valor)">
            <h5 class="mb-1">Valor</h5>
            <p>{{ formatarValor(dadosPagamento.valor) }}</p>
          </div>
          }

          @if (dadosPagamento.statusPagamento) {
          <div class="col-md-3 mb-1" tabindex="0"
            [attr.aria-label]="'Status do Pagamento: ' + dadosPagamento.statusPagamento">
            <h5 class="mb-1">Status do Pagamento</h5>
            <h5>
              <span [class]="'badge mb-1' + getBadgeStatusPagamento(dadosInscricao.statusPagamento)">
                {{ getTextoStatusPagamento(dadosPagamento.statusPagamento) }}
              </span>
            </h5>
          </div>
          }

          @if (dadosPagamento.dataPagamento) {
          <div class="col-md-3 mb-1" tabindex="0"
            [attr.aria-label]="'Data do Pagamento: ' + formatarData(dadosPagamento.dataPagamento)">
            <h5 class="mb-1">Data do Pagamento</h5>
            <p>{{ formatarData(dadosPagamento.dataPagamento) }}</p>
          </div>
          }

          <hr>
        </div>
        }
      </div>

      <!-- Botões -->
      <div class="modal-buttons">

        @if (dadosPagamento.statusPagamento == 'A PAGAR' && dadosPagamento.formaPagamento != 'Dinheiro') {
        <div class="label-info alert alert-warning text-center mt-2" tabindex="0">
          <i class="bi bi-exclamation-circle float-left"></i>
          <p>Solicite o pix/link para pagamento ou envie o comprovante clicando no
            botão abaixo. </p>
        </div>

        <mpc-button corFundo="green" corTexto="white" texto="Solicitar pelo WhatsApp" icone="bi bi-whatsapp"
          (click)="pedirLinkPagamento()">
        </mpc-button>
        }

        <mpc-button corTexto="#0E2749" (click)="fecharComprovante()" texto="Fechar" icone="bi bi-x-lg">
        </mpc-button>

      </div>
    </div>
  </div>
</div>
}
