<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcCard INÍCIO ======= -->
  <section id="cards">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC <span>Cards</span></p>
      </div>

      <h5>
        <strong>Descrição:</strong> O <code>mpc-card</code> é baseado no framework Bootstrap e permite criar cards
        personalizados para exibir informações de forma organizada e atraente, com imagem, título, subtítulo e
        descrição.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do card.</li>
          <li><strong>subtitulo</strong>: O subtítulo do card.</li>
          <li><strong>descricaoUm</strong>: A primeira descrição do card.</li>
          <li><strong>descricaoDois</strong>: A segunda descrição do card.</li>
          <li><strong>imagem</strong>: A imagem do card. Exemplo: '/assets/img/imagem.jpg'.</li>
          <li><strong>links</strong>: (opcional) Lista de links do card. Exemplo:
            <code>[&#123; icone: 'string', url: 'string' &#125;]</code>
          </li>
          <li><strong>layout</strong>: (opcional) Layout do card: <code>vertical</code> ou <code>horizontal</code>.
            Padrão: <code>vertical</code>.</li>
          <li><strong>id</strong>: (opcional) O ID do card.</li>
          <li><strong>tabIndex</strong>: (opcional) O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: (opcional) Texto de acessibilidade do componente.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcCardComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-card
  titulo="Card 1"
  subtitulo="Tamanho Vertical"
  descricaoUm="Primeira descrição do card"
  descricaoDois="Segunda descrição do card"
  imagem="/assets/img/no-image.jpg"
  [links]="[&#123;icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'&#125;]"
  layout="vertical"&gt;
&lt;/mpc-card&gt;</code></pre>
      </div>

      <div class="row gy-4">

        <div class="col-12 d-flex justify-content-center">
          <h4>Cards Verticais e Horizontais</h4>
        </div>

        <div class="col-lg-4">
          <mpc-card titulo="Card 1" subtitulo="Layout Vertical" descricaoUm="Este é um card com layout vertical"
            descricaoDois="Ideal para exibir informações em formato de coluna" imagem="/assets/img/no-image.jpg"
            [links]="[&#123;icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'&#125;]"
            layout="vertical">
          </mpc-card>
        </div>

        <div class="col-lg-4">
          <mpc-card titulo="Card 2" subtitulo="Com Links" descricaoUm="Este card possui múltiplos links"
            descricaoDois="Você pode adicionar quantos links precisar" imagem="/assets/img/no-image.jpg" [links]="[
              &#123;icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'&#125;,
              &#123;icone: 'bi bi-github', url: 'https://github.com/matheuspcouto'&#125;
            ]" layout="vertical">
          </mpc-card>
        </div>

        <div class="col-lg-4">
          <mpc-card titulo="Card 5" subtitulo="Sem Links" descricaoUm="Este card não possui links"
            descricaoDois="Apenas informações básicas" imagem="/assets/img/no-image.jpg" layout="vertical">
          </mpc-card>
        </div>

        <div class="col-lg-12">
          <mpc-card titulo="Card 4" subtitulo="Layout Horizontal" layout="horizontal"
            descricaoUm="Este card tem layout horizontal, ideal para exibir informações em telas desktop."
            imagem="/assets/img/no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]">
          </mpc-card>
        </div>

      </div>

    </div>

  </section>
  <!-- ======= MpcCard FIM ======= -->

  <!-- ======= MpcCardBackgroundImg INÍCIO ======= -->
  <section id="cards-background-img">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>Cards com <span>Background</span></p>
      </div>

      <h5>
        <strong>Descrição:</strong> O <code>mpc-card-background-img</code> é um card projetado para exibir
        informações com uma imagem de fundo, título, subtítulo e descrição.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do card.</li>
          <li><strong>subtitulo</strong>: O subtítulo do card (ex: horário).</li>
          <li><strong>descricao</strong>: A descrição do card.</li>
          <li><strong>imagemFundo</strong>: A imagem de fundo do card. Exemplo: '/assets/img/home/mountain.jpg'.
          </li>
          <li><strong>id</strong>: (opcional) O ID do card.</li>
          <li><strong>tabIndex</strong>: (opcional) O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: (opcional) Texto de acessibilidade do componente.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcCardBackGroundImgComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-card-background-img
  titulo="Card 1"
  subtitulo="com imagem de fundo"
  descricao="Este é um card com imagem de fundo"
  imagemFundo="/assets/img/home/mountain.jpg"
  [tabIndex]="0"
  ariaLabel="Card 1"&gt;
&lt;/mpc-card-background-img&gt;</code></pre>
      </div>

      <!-- Cards com Imagem de Fundo -->
      <div class="row gy-4">

        <div class="col-12 d-flex justify-content-center">
          <h4>Cards com Imagem de Fundo</h4>
        </div>

        <div class="col-lg-6">
          <mpc-card-background-img titulo="Card 1" subtitulo="com imagem de fundo"
            descricao="Este é um card com imagem de fundo" imagemFundo="/assets/img/home/mountain.jpg" id="card-bg-1"
            [tabIndex]="0" ariaLabel="Card 1">
          </mpc-card-background-img>
        </div>

        <div class="col-lg-6">
          <mpc-card-background-img titulo="Card 2" subtitulo="com imagem de fundo"
            descricao="Este é um card com imagem de fundo" imagemFundo="/assets/img/no-image.jpg" id="card-bg-2"
            [tabIndex]="0" ariaLabel="Card 2">
          </mpc-card-background-img>
        </div>

      </div>

    </div>

  </section>
  <!-- ======= MpcCardBackgroundImg FIM ======= -->

  <!-- ======= MpcCardMenu INÍCIO ======= -->
  <section id="cards-menu">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>Cards de <span>Menu</span></p>
      </div>

      <h5>
        <strong>Descrição:</strong> O <code>mpc-card-menu</code> é um card simples para exibir informações rápidas de
        menu, como telefone, e-mail ou endereço, com ícone, título e descrição, e executa uma ação ao clicar no card.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do card.</li>
          <li><strong>descricao</strong>: (opcional) A descrição do card.</li>
          <li><strong>icone</strong>: O ícone do card (classe do Bootstrap Icons).</li>
          <li><strong>acao</strong>: (opcional) Função a ser executada ao clicar no card.</li>
          <li><strong>id</strong>: (opcional) O ID do card.</li>
          <li><strong>tabIndex</strong>: (opcional) O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: (opcional) Texto de acessibilidade do componente.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcCardMenuComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-card-menu
  icone="bi bi-telephone"
  titulo="Telefone"
  descricao="(63) 9 9201-4337"
  (acao)="onMenuCardClick()">&gt;
&lt;/mpc-card-menu&gt;</code></pre>
      </div>

      <div class="row gy-4">

        <div class="col-12 d-flex justify-content-center">
          <h4>Cards de Menu</h4>
        </div>

        <div class="col-lg-4">
          <mpc-card-menu icone="bi bi-linkedin" titulo="Linkedin" descricao="ir para o linkedin"
            (acao)="onMenuCardClick()"></mpc-card-menu>
        </div>

        <div class="col-lg-4">
          <mpc-card-menu icone="bi bi-github" titulo="Github" descricao="ir para o github"
            (acao)="onMenuCardClick()"></mpc-card-menu>
        </div>

        <div class="col-lg-4">
          <mpc-card-menu icone="bi bi-instagram" titulo="Instagram" descricao="ir para o instagram"
            (acao)="onMenuCardClick()"></mpc-card-menu>
        </div>

      </div>

    </div>

  </section>
  <!-- ======= MpcCardMenu FIM ======= -->

  <!-- ======= MpcCardEvento INÍCIO ======= -->
  <section id="cards-evento">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>Cards de <span>Evento</span></p>
      </div>

      <h5>
        <strong>Descrição:</strong> O <code>mpc-card-evento</code> é um card especial para exibir eventos, com dia, mês,
        título, subtítulo e descrição.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>dia</strong>: O dia do evento.</li>
          <li><strong>mes</strong>: O mês do evento.</li>
          <li><strong>titulo</strong>: O título do evento.</li>
          <li><strong>subtitulo</strong>: O subtítulo do evento.</li>
          <li><strong>descricao</strong>: A descrição do evento.</li>
          <li><strong>id</strong>: (opcional) O ID do card.</li>
          <li><strong>tabIndex</strong>: (opcional) O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: (opcional) Texto de acessibilidade do componente.</li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcCardEventoComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-card-evento
  dia="12"
  mes="JUN"
  titulo="Evento Especial"
  subtitulo="Palestra com Convidado"
  descricao="Participe do nosso evento especial com um palestrante renomado."
  id="evento-1"
  [tabIndex]="0"
  ariaLabel="Evento Especial em 12 de Junho"&gt;
&lt;/mpc-card-evento&gt;</code></pre>
      </div>

      <div class="row mb-5">

        <div class="col-12 d-flex justify-content-center">
          <h4>Cards de Evento</h4>
        </div>

        @for (i of [1, 2, 3]; track i) {
        <mpc-card-evento [dia]="i.toString()" mes="JUN" [titulo]="'Card de Evento ' + i" [subtitulo]="'Subtítulo ' + i"
          [descricao]="'Descrição ' + i" id="evento-1" [tabIndex]="0"
          [ariaLabel]="'Evento Especial em ' + i + ' de Junho'">
        </mpc-card-evento>
        }
      </div>

      <!-- ======= MpcCardEvento FIM ======= -->

      <h5>
        Para mais informações sobre como utilizar cards no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/cards/" target="_blank">documentação oficial do
          Bootstrap
          sobre cards</a>.
      </h5>

    </div>

  </section>

</main>

<mpc-footer></mpc-footer>