<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcCard ======= -->
  <section id="cards" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente os</h2>
        <p>MPC <span>Cards</span></p>
      </div>

      <h5>
        O <code>mpc-card</code> MpcComponents são baseados no framework Bootstrap, sendo um componente que
        permite criar
        cards personalizados. Os cards são utilizados para
        exibir informações de forma organizada e atraente, com uma imagem, título, subtítulo e descrição. Abaixo, você
        pode ver como utilizar o componente e seus parâmetros.
      </h5>

      <h5>
        <ul class="text-start mt-3">
          <li><strong>titulo</strong>: O título do card.</li>
          <li><strong>subtitulo</strong>: O subtítulo do card.</li>
          <li><strong>descricaoUm</strong>: A primeira descrição do card.</li>
          <li><strong>descricaoDois</strong>: A segunda descrição do card.</li>
          <li><strong>imagem</strong>: A imagem do card. Necessário ter a imagem na pasta "/assets/img". Exemplo:
            '/assets/img/imagem.jpg'.</li>
          <li><strong>links</strong>: (opcional) Os links do card. Em formato:
            <code>[&lcub; icone: 'string', url: 'string' &rcub;]</code>
          </li>
          <li><strong>layout</strong>: (opcional) O layout do card, que pode ser: <code>vertical</code> ou
            <code>horizontal</code>. Padrão: <code>vertical</code>.
          </li>
          <li><strong>id</strong>: (opcional) O ID do card.</li>
          <li><strong>tabIndex</strong>: (opcional) O tabIndex do card.</li>
          <li><strong>ariaLabel</strong>: (opcional) O texto de acessibilidade do componente.</li>
        </ul>
      </h5>

      <div class="mb-5">
        <h5>No arquivo <code>seu-component.ts</code>, importe o componente:</h5>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code>
                ```
                imports: [ MpcCardComponent ]
                ```
              </code>
          </pre>
        </div>
      </div>

      <h5>
        No arquivo <code>seu-component.html</code>, adicione o seguinte código:
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
                <code class="language-html" data-lang="html">
                &lt;mpc-card
          titulo="Card 1"
          subtitulo="Tamanho Vertical"
          descricaoUm="Primeira descrição do card"
          descricaoDois="Segunda descrição do card"
          imagem="/assets/img/no-image.jpg"
          [links]="[&lcub;icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'&rcub;]"
          layout="vertical"&gt;
        &lt;/mpc-card&gt;
                </code>
        </pre>
        </div>
      </h5>

      <div class="row justify-content-between mb-5">

        <div class="col-lg-4 d-flex justify-content-center mb-5">
          <mpc-card titulo="Card 1" subtitulo="Layout Vertical" descricaoUm="Este é um card com layout vertical"
            descricaoDois="Ideal para exibir informações em formato de coluna" imagem="/assets/img/no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]" layout="vertical">
          </mpc-card>
        </div>

        <div class="col-lg-4 d-flex justify-content-center mb-5">
          <mpc-card titulo="Card 2" subtitulo="Com Links" descricaoUm="Este card possui múltiplos links"
            descricaoDois="Você pode adicionar quantos links precisar" imagem="/assets/img/no-image.jpg" [links]="[
              {icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'},
              {icone: 'bi bi-github', url: 'https://github.com/matheuspcouto'}
            ]" layout="vertical">
          </mpc-card>
        </div>

        <div class="col-lg-4 d-flex justify-content-center mb-5">
          <mpc-card titulo="Card 5" subtitulo="Sem Links" descricaoUm="Este card não possui links"
            descricaoDois="Apenas informações básicas" imagem="/assets/img/no-image.jpg" layout="vertical">
          </mpc-card>
        </div>

        <div class="col-12 d-flex justify-content-center mb-5">
          <mpc-card titulo="Card 4" subtitulo="Layout Horizontal" layout="horizontal"
            descricaoUm="Este card tem layout horizontal, ideal para exibir informações em telas desktop."
            imagem="/assets/img/no-image.jpg"
            [links]="[{icone: 'bi bi-linkedin', url: 'https://www.linkedin.com/in/matheuspcouto/'}]">
          </mpc-card>
        </div>

      </div>

      <h5>
        Para mais informações sobre como utilizar cards no Bootstrap, consulte a <a
          href="https://getbootstrap.com/docs/5.1/components/cards/" target="_blank">documentação oficial do Bootstrap
          sobre cards</a>.
      </h5>

    </div>

  </section>
  <!-- ======= MpcCard ======= -->
</main>

<mpc-footer></mpc-footer>
