<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<section id="inscricao" class="inscricao">

  <div class="section-header">
    <h2>preencha seus dados abaixo no</h2>
    <p>Formulário de <span> Inscrição </span> </p>
  </div>

  <div class="container">

    <mpc-form-progress-bar [etapaAtual]="1" [totalEtapas]="3"></mpc-form-progress-bar>

    <h3>Dados Pessoais</h3>
    <p class="text-muted mb-3">Campos obrigatórios (*)</p>

    <form [formGroup]="form">

      <div class="row">
        <div class="col-md-6 mb-3">
          <mpc-input-text label="Nome" [value]="form.value.nome" (valor)="form.controls.nome.setValue($event)"
            (error)="form.controls.nome.setErrors($event)" min="3" max="100" />
        </div>

        <div class="col-md-6 mb-3">
          <mpc-input-text label="Sobrenome" [value]="form.value.sobrenome"
            (valor)="form.controls.sobrenome.setValue($event)" (error)="form.controls.sobrenome.setErrors($event)"
            min="3" max="100" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <mpc-input-date label="Data de Nascimento" [maxDate]="dataAtual" [required]="true"
            [value]="form.value.dataNasc" (valor)="form.controls.dataNasc.setValue($event)"
            (error)="form.controls.dataNasc.setErrors($event)" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-number label="Idade" [required]="true" [value]="form.value.idade"
            (valor)="form.controls.idade.setValue($event)" (error)="form.controls.idade.setErrors($event)" min="1"
            max="99" [readonly]="false" />
        </div>

        <div class="col-md-4 mb-3">
          <mpc-input-cpfcnpj [required]="true" [value]="form.value.cpfCnpj" (valor)="form.controls.cpfCnpj.setValue($event)"
            (error)="form.controls.cpfCnpj.setErrors($event)" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <mpc-input-radio label="Sexo" [required]="true" [options]="sexos"
            (valor)="form.controls.sexo.setValue($event)" (error)="form.controls.sexo.setErrors($event)" />
        </div>

        <div class="col-md-6 mb-3">
          <mpc-input-select label="Estado Civil" [options]="estadosCivis" [required]="true"
            (valor)="form.controls.estadoCivil.setValue($event)"
            (error)="form.controls.estadoCivil.setErrors($event)" />
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-5">
        <mpc-button (click)="proximaEtapa()" [corFundo]="'#149DDD'" [corTexto]="'white'" icone="bi bi-arrow-right" posicaoIcone="direita"
          texto="Próximo" [disabled]="form.invalid">
        </mpc-button>
      </div>

    </form>

  </div>

</section>

<mpc-modal #modalErro></mpc-modal>
