<div [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel" class="form-group">
  <label class="form-label">Senha {{ required ? ' *' : '' }}</label>

  <div class="input-group">
    <input [id]="id" [type]="ocultarSenha ? 'password' : 'text'" class="form-control" [value]="value"
      (input)="setValue($event)" [required]="required" [disabled]="disabled" [readOnly]="readonly"
      [style]="errorMessage ? 'border-color: red' : ''" (focus)="onFocus()" />

    <div class="validation-icon">
      <i [class]="ocultarSenha ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" (click)="ocultarSenha = !ocultarSenha"></i>
    </div>
  </div>

  @if (errorMessage) {
  <p class="text-danger mt-1"> {{ errorMessage }} </p>
  }
</div>
