/* Importação de fontes */
@import url('https://fonts.cdnfonts.com/css/potential');

/* Importação de bootstrap-icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  /* Fontes */
  --font-titulo: 'Potential', sans-serif;
  --font-padrao: "Poppins", sans-serif;
  --font-secundaria: "Inter", sans-serif;

  /* Cores */
  --cor-primaria: #0E2749;
  --cor-secundaria: #149DDD;
  --cor-terciaria: gray;
  --preto: #000;
  --branco: #fff;

  scroll-behavior: smooth;
}

/* Background Colors */
.bg-color-primary {
  background-color: var(--cor-primaria) !important;
}

.bg-color-secondary {
  background-color: var(--cor-secundaria) !important;
}

.bg-color-tertiary {
  background-color: var(--cor-terciaria) !important;
}

.bg-color-black {
  background-color: var(--preto) !important;
}

.bg-color-white {
  background-color: var(--branco) !important;
}

/* Text Colors */
.text-color-primary {
  color: var(--cor-primaria) !important;
}

.text-color-secondary {
  color: var(--cor-secundaria) !important;
}

.text-color-tertiary {
  color: var(--cor-terciaria) !important;
}

.text-color-black {
  color: var(--preto) !important;
}

.text-color-white {
  color: var(--branco) !important;
}

/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-padrao);
  color: var(--cor-secundaria);
  overflow: auto !important;
  cursor: default !important;
}

a {
  color: var(--cor-primaria);
  text-decoration: none !important;

  &:hover {
    color: var(--cor-primaria);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secundaria);
}

/* Media Queries for Desktop & Mobile */
@media (max-width: 768px) {
  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: flex !important;
  }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 40px 0;
  scroll-margin-top: 90px;
  overflow: clip;

  h5 {
    font-weight: 400;
    color: var(--cor-terciaria);
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .section-bg {
    background-color: var(--branco);
  }

  .section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--cor-terciaria);
      text-transform: uppercase;
      font-family: var(--font-padrao);
    }

    p {
      margin: 0;
      font-size: 48px;
      font-weight: 400;
      font-family: var(--fonte-padrao);

      span {
        color: var(--cor-secundaria);
      }
    }
  }
}

/*--------------------------------------------------------------
# Capa Section
--------------------------------------------------------------*/
.capa {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 160px 0 60px 0;
  background-size: cover !important;
  background-position: center !important;

  span {
    font-family: var(--font-titulo);
    color: var(--cor-secundaria);
    font-size: clamp(1em, 1em + 1vw, 3em);
    font-weight: 300;
  }

  h2 {
    font-size: 64px;
    font-weight: 700;
    color: var(--branco) !important;
    font-family: var(--fonte-padrao) !important;
  }

  p {
    color: var(--cor-terciaria);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  a {
    color: var(--branco);

    &:hover {
      color: var(--cor-secundaria);
    }
  }

  @media (max-width: 640px) {
    h2 {
      font-size: 36px;
    }
  }
}
