<div class="card" [ngClass]="getTamanhoCard()" [tabIndex]="tabIndex" [attr.aria-label]="ariaLabel">
  <div class="card-header">
    <div class="card-img">
      <img [src]="getImagemCard()">
      <div class="links" *ngIf="links">
        <a *ngFor="let link of links" tabindex="0" [attr.aria-label]="'Link para ' + link.url"
         [href]="link.url" target="_blank"><i [class]="link.icone"></i></a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-info">
      <h3 *ngIf="titulo" tabindex="0" [attr.aria-label]="titulo">{{ titulo }}</h3>
      <h4 *ngIf="subtitulo" tabindex="0" [attr.aria-label]="subtitulo">{{ subtitulo }}</h4>
      <p *ngIf="descricao" tabindex="0" [attr.aria-label]="descricao">{{ descricao }}</p>
    </div>
  </div>
</div>
