<div *ngIf="exibirModal && modal" class="modal" tabindex="0" aria-label="Modal">
  <div [ngClass]="isTelaInteira ? 'tela-inteira' : 'metade-tela'">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Imagem -->
        <img *ngIf="modal.imagem && isTelaInteira" [src]="'img/modal/' + modal.imagem" class="modal-image">

        <!-- Título -->
        <h2 class="modal-title" tabindex="0" [attr.aria-label]="modal.titulo">{{ modal.titulo }}</h2>

        <!-- Descrição -->
        <p class="modal-description" tabindex="0" [attr.aria-label]="modal.texto">{{ modal.texto }}</p>
      </div>

      <!-- Botões -->
      <div class="modal-buttons">
        <!-- Botão Principal de Ação -->
        <mpc-button corBotao="btn-primary" (click)="botao()" [texto]="modal.textoBotao"></mpc-button>

        <!-- Botão Secundário de Ação -->
        <mpc-button *ngIf="modal.textoSegundoBotao" corBotao="btn-link" (click)="segundoBotao()"
          [texto]="modal.textoSegundoBotao">
        </mpc-button>

        <!-- Botão de Copiar Erro caso seja um modal de erro -->
        <mpc-button *ngIf="btnCopiarMensagemErro" corBotao="btn-link" (click)="copiarCodigo()"
          [icone]="isCopiado ? 'bi bi-clipboard-check' : 'bi bi-clipboard'" texto="Copiar Erro">
        </mpc-button>
      </div>
    </div>
  </div>
</div>
