<mpc-navbar></mpc-navbar>

  <!-- ======= Aguarde Section ======= -->
  <section id="aguarde" class="aguarde section-bg">
    <div class="container">

      <div class="section-header">

        <div class="div-img-aguarde">
          <img src="img/logo.png">
        </div>

        <p>Tela de <span>Aguarde</span> !</p>
      </div>

      <p>
        Nosso site está passando por melhorias,
        <br>
        mas não deixe de acompanhar nossas programações <br>
        pelo instagram: <a href="https://www.instagram.com/matheuspcouto/" target="_blank"> &#64;matheuspcouto </a>
      </p>
    </div>

  </section>
  <!-- ======= End Aguarde Section ======= -->
