.aguarde {
  .div-img-aguarde {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 100%;

    img {
      width: 250px;
      height: auto;
    }
  }

  .titulo-section {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--cor-primaria);

    span {
      color: var(--cor-secundaria);
    }
  }

  p {
    font-style: italic;
    text-align: center;
    color: gray;
  }
}

.container {
  min-height: 100vh !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
