<mpc-navbar></mpc-navbar>

<!-- ======= Aguarde Section ======= -->
<section id="aguarde" class="aguarde">
  <div class="container">

    <div class="section-header">

      <div class="div-img-aguarde">
        <img src="/assets/img/logo.png">
      </div>

      <p class="titulo-section">Página de <span>Aguarde</span> !</p>
    </div>

    <p>
      Nosso site no momento está passando por melhorias, em breve voltaremos.
      <br>
      Enquanto isso, não deixe de acompanhar nossas programações <br>
      pelo instagram: <a href="https://www.instagram.com/matheuspcouto/" target="_blank"> &#64;matheuspcouto </a>
    </p>
  </div>

</section>
<!-- ======= End Aguarde Section ======= -->

<mpc-footer></mpc-footer>
