<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcNavbar ======= -->
  <section id="navbar" class="section-components">
    <div class="container">

      <div class="section-header">
        <h2>experimente o</h2>
        <p>MPC <span>Navbar</span></p>
      </div>

      <h5>
        O <code>mpc-navbar</code> é um componente que permite a criação de um menu de navegação. Ele é composto por um
        menu
        de navegação com submenus, uma logo e um botão de ação.
      </h5>

      <h5>
        Para alterar as abas e rotas do navbar, basta alterar as propriedades no <code>mpc-navbar.component.html</code>.
      </h5>

      <div class="mb-5">
        <h5>No arquivo <code>seu-component.ts</code>, importe o componente:</h5>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code>
                ```
                imports: [ MpcNavbarComponent ]
                ```
              </code>
          </pre>
        </div>
      </div>

      <h5>
        No arquivo <code>seu-component.html</code>, adicione o seguinte código:
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <pre class="chroma">
              <code>
              &lt;mpc-navbar&gt;&lt;/mpc-navbar&gt;
              </code>
            </pre>
        </div>
      </h5>

      <h5>Navegue pelo menu desta página para ver implementação do <code>mpc-navbar</code>.</h5>
    </div>
  </section>
  <!-- ======= MpcNavbar ======= -->

</main>

<mpc-footer></mpc-footer>
