<mpc-navbar abaLogin="/paginas/login"></mpc-navbar>

<main>

  <!-- ======= MpcNavbar INÍCIO ======= -->
  <section id="navbar">
    <div class="container">
      <div class="section-header">
        <h2>experimente o</h2>
        <p>MPC <span>Navbar</span></p>
      </div>
      <h5>
        <strong>Descrição:</strong> O <code>mpc-navbar</code> é um componente de barra de navegação responsiva, baseado no Bootstrap, que facilita a navegação entre as páginas do sistema.
      </h5>
      <h5>
        <strong>Propriedades:</strong>
        <ul class="text-start mt-3">
          <li><strong>abaLogin</strong>: (opcional) Rota para a página de login.</li>
          <li><strong>itens</strong>: (opcional) Lista de itens de navegação. Exemplo: <code>[&#123; label: 'Home', rota: '/home' &#125;]</code></li>
        </ul>
      </h5>
      <div class="mb-3">
        <h5><strong>Importação no arquivo <code>.ts</code>:</strong></h5>
        <pre class="chroma"><code>imports: [ MpcNavbarComponent ]</code></pre>
      </div>
      <div class="mb-5">
        <h5><strong>Exemplo de uso no arquivo <code>.html</code>:</strong></h5>
        <pre class="chroma"><code class="language-html" data-lang="html">&lt;mpc-navbar abaLogin="/paginas/login" [itens]="[&#123; label: 'Home', rota: '/home' &#125;]"&gt;&lt;/mpc-navbar&gt;</code></pre>
      </div>
      <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
          <mpc-navbar abaLogin="/paginas/login"></mpc-navbar>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= MpcNavbar FIM ======= -->

</main>

<mpc-footer></mpc-footer>
