<form [formGroup]="formGroup">

  <div class="alert alert-warning text-center mt-1" *ngIf="celulas.length === 0">
    <i class="bi bi-exclamation-circle float-left"></i>
    Não foi possível trazer as células. Mas não se preocupe, você pode continuar a inscrição.
  </div>

  <h3>Dados Pessoais</h3>
  <p class="text-muted mb-3">Campos obrigatórios (*)</p>

  <div class="row">
    <div class="col-md-6 mb-3">
      <mpc-input-text label="Nome" (valorCampo)="setValorCampo($event, 'nome')" min="3" max="100" />
    </div>

    <div class="col-md-6 mb-3">
      <mpc-input-text label="Sobrenome" (valorCampo)="setValorCampo($event, 'sobrenome')" min="3" max="100" />
    </div>
  </div>

  <div class="row mb-3">
    <mpc-input-text label="Endereço" (valorCampo)="setValorCampo($event, 'endereco')" min="10" max="100" />
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <mpc-input-date label="Data de Nascimento" [maxDate]="dataAtual" [required]="true"
        (valorCampo)="setValorCampo($event, 'dataNasc')" />
    </div>

    <div class="col-md-6 mb-3">
      <mpc-input-radio label="Sexo" [required]="true" [values]="sexos" (valorCampo)="setValorCampo($event, 'sexo')" />
    </div>
  </div>

  <!--

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Telefone *</label>
      <div class="input-group">
        <input id="telefone" type="text" class="form-control col-md-4" formControlName="telefone"
          [style]="formGroup.controls['telefone'].errors && formGroup.controls['telefone'].touched ? 'border-color: red' : ''"
          [mask]="mascaraTelefone" />
        <div *ngIf="formGroup.controls['telefone'].touched">
          <em [style]="formGroup.controls['telefone'].errors ? 'color: red;' : 'color: green'">
            <i [class]="formGroup.controls['telefone'].errors ? 'bi bi-exclamation-circle' : 'bi bi-check-lg'"></i>
          </em>
        </div>
      </div>
      <div class="mb-1" *ngIf="formGroup.controls['telefone'].errors && formGroup.controls['telefone'].touched">
        <p *ngIf="formGroup.controls['telefone'].errors['formatoInvalido']" class="text-danger"> Telefone
          inválido
        </p>
        <p *ngIf="formGroup.controls['telefone'].errors['required']" class="text-danger"> Campo obrigatório
        </p>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="input-group">
        <label class="form-label">Estado Civil *</label>
        <div class="input-group">
          <select class="form-select form-select-md" formControlName="estadoCivil"
            [style]="formGroup.controls['estadoCivil'].errors && formGroup.controls['estadoCivil'].touched ? 'border-color: red' : ''">
            <option *ngFor="let ec of estadosCivis; let i = index" [value]="ec">
              {{ ec }}
            </option>
          </select>
        </div>

        <div class="mb-1" *ngIf="formGroup.controls['estadoCivil'].errors && formGroup.controls['estadoCivil'].touched">
          <p *ngIf="formGroup.controls['estadoCivil'].errors['formatoInvalido']" class="text-danger">
            Formato inválido
          </p>
          <p *ngIf="formGroup.controls['estadoCivil'].errors['required']" class="text-danger"> Campo
            obrigatório </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <label class="form-label">Você costuma utilizar algum remédio de uso contínuo ? Se sim, coloque abaixo </label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="remediosControlados"
        [style]="formGroup.controls['remediosControlados'].errors && formGroup.controls['remediosControlados'].touched ? 'border-color: red' : ''" />
    </div>
    <div class="mb-1"
      *ngIf="formGroup.controls['remediosControlados'].errors && formGroup.controls['remediosControlados'].touched">
      <p *ngIf="formGroup.controls['remediosControlados'].errors['required']" class="text-danger"> Campo
        obrigatório
      </p>
    </div>
  </div>

  <div class="row mb-3">
    <label class="form-label">Você possui alergia a algum alimento ou medicação? Se sim, coloque abaixo </label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="alergias"
        [style]="formGroup.controls['alergias'].errors && formGroup.controls['alergias'].touched ? 'border-color: red' : ''" />
    </div>
    <div class="mb-1" *ngIf="formGroup.controls['alergias'].errors && formGroup.controls['alergias'].touched">
      <p *ngIf="formGroup.controls['alergias'].errors['required']" class="text-danger"> Campo
        obrigatório
      </p>
    </div>
  </div>

  <div *ngIf="celulas.length > 0 && formGroup.controls['sexo'].value" class="mb-3">
    <h5 class="card-title text-center">Célula</h5>
    <p class="text-center mt-2">
      Caso você já faça parte de uma célula, selecione abaixo.
    </p>

    <div class="row mt-3 d-flex align-items-center justify-content-center" *ngIf="celulas.length > 0">
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group">
            <select class="form-select form-select-md" formControlName="celula"
              [style]="formGroup.controls['celula'].errors && formGroup.controls['celula'].touched ? 'border-color: red' : ''">
              <option *ngFor="let cel of celulasDropdown; let i = index" [value]="cel">
                {{ cel }}
              </option>
            </select>

            <div class="mb-1" *ngIf="formGroup.controls['celula'].errors && formGroup.controls['celula'].touched">
              <p *ngIf="formGroup.controls['celula'].errors['formatoInvalido']" class="text-danger">
                Formato inválido
              </p>
              <p *ngIf="formGroup.controls['celula'].errors['required']" class="text-danger"> Campo
                obrigatório </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->


  <div class="d-flex justify-content-center align-items-center mt-5">
    <button class="btn btn-primary" (click)="proximaEtapa()" [disabled]="formGroup.invalid">
      <i class="bi bi-arrow-right"></i>
      Próximo
    </button>
  </div>

</form>

<mpc-modal #modalErro></mpc-modal>
